<?php

echo $this->getContent();?>


<?php echo UIElementsAdmin::getHeader("updates"); ?>
<!-- slug script start here-->
 <script type="text/javascript">
    function Slugs() {
        var title_nm= document.getElementById("title_news").value;
        $.post("/ischool4u/news/slugify/"+title_nm,function(r){//alert("do");
            console.log(r);
            obj = JSON.parse(r);
            var elem = document.getElementById("slug");
             elem.value = obj.value;
             $("#slug_error").html(obj.msg);
                if (obj.status==1) {
                    $('.submit').prop('disabled', false);
                }
                else
                {
                    $('.submit').prop('disabled', true);
                }
            });
        }            
</script>
<style>
    #btn-description{
        display: none;
    }
</style>
                        
<!-- slug script end here-->
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?=UIElementsAdmin::news()?>


  				<div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Add News</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>news/addnews" name="form2" onsubmit="return Page_submitValidation();"  autocomplete="off" method="post">
                                    <div class="form-group">
                                            <?php $name = $this->session->get("admin"); ?>
                                        <input type="hidden" value="<?php  print_r($name['id']); ?>" name="admin_id">                                        
                                        <input type="hidden" value="<?php echo  date("Y-m-d h:i:s"); ?>" name="created_date">
                                         <label class="col-md-2 control-label">Title News <span class="required">*</span></label>
                                        <div class="col-md-6">
                                         <input class="form-control" id="title_news" onkeyup="Slugs()"  placeholder="Enter Page" type="text" name="title_news" value="<?=$this->request->getPost("title_news")?>" required>
                                         
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Slug</label><span id="slug_error"></span>
                                        <div class="col-md-6">
                                        <input class="form-control" id="slug" placeholder="Enter Slug" type="text" name="slug" value="<?=$this->request->getPost("slug")?>" >
                                        </div>   
                                    </div>
                                      <div class="form-group">                                         
                                        <div class="col-md-12">
                                          <textarea class="form-control" id="editor"  placeholder="Text Editor" rows="12" ></textarea>
                                          <div class="clearfix gap"></div>
                                          <div class="btn btn-primary" id="btn-description" onclick="setTextArea('description')">Add News</div>
                                          
                                        </div>
                                        <div class="clearfix gap"></div>
                                        <div class="col-md-12 editCollection">
                                          <div class="btn btn-sm btn-info" onclick="setEditor('description')">News</div>
                                          </div>                                       
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Enter Description <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <textarea class="form-control description" id="description" required  placeholder="Enter News" rows="3" name="description"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" id="status" required class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>   
                                          <option value="0">Inactive</option>
                                        </select>
                                        <label><span id="ere1" ></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right"  >Add News</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" >Add News</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->




        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->