<?php
/**
*Page index
* 
* Author By: Rajesh Sardar
* Created On:24/06/2015
* Modified: N/A
**/
echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<script type="text/javascript">
  var exam_tyme = <?=$freetest->time?>*60*1000;
  function opt(ans,ques){
    $("#"+ques).val(ans);
  }

  function showquestion(id){
    var qno = <?=$numqus?>;
    for(i=1;i<=qno;i++){
      $("#"+i).css("display","none");
    }
    $("#"+id).css("display","block");
    $("#"+id).addClass(" appear-animation fadeInLeftBig ");
    if(id==qno){
      var pre = id-1;
      $("#"+"next").removeAttr("onclick");
      $("#"+"pre").attr("onclick","pre("+pre+")");
    }else if(id==1){
      var next = id+1;
      $("#"+"next").attr("onclick","next("+next+")");
      $("#"+"pre").removeAttr("onclick");
    }else{
      var pre = id-1;var next = id+1;
      $("#"+"next").attr("onclick","next("+next+")");
      $("#"+"pre").attr("onclick","pre("+pre+")");
    }
  }

  function next(id){
    var qno = <?=$numqus?>;
    for(i=1;i<=qno;i++){
      $("#"+i).css("display","none");
    }
    // $("#"+id).css("display","none");
    var next = id+1;
    var pre = id-1;
    if($("#"+pre+' .checkattempt').val()==''){
      $("#"+pre+' .checkattempt').val('skipped');
    }
    $("#"+id).removeClass("appear-animation fadeInLeftBig fadeInRightBig");
    var qID = $("#qID"+next).val();
    if(id==qno){
      $("#nextidnew").hide();
      $("#"+"next").removeAttr("onclick");
      $("#"+"pre").attr("onclick","pre("+pre+")");
      $("#"+id).css("display","block");
      $("#"+id).addClass(" appear-animation fadeInLeftBig ");
    }else{
      $("#nextidnew").show();
      $("#"+"next").attr("onclick","next("+next+")");
      $("#"+"pre").attr("onclick","pre("+pre+")");
      $("#"+id).css("display","block");
      $("#"+id).addClass(" appear-animation fadeInLeftBig ");
    }
  }

  function pre(id){
    var pre = id-1;
    var next = id+1;
    if($("#"+next+' .checkattempt').val()==''){
      $("#"+next+' .checkattempt').val('skipped');
    }
    $("#"+next).css("display","none");
    $("#"+next).removeClass("appear-animation fadeInRightBig fadeInLeftBig");
    var qID = $("#qID"+pre).val();
    if(id==1){
      $("#nextidnew").show();
      $("#"+"pre").removeAttr("onclick");
      $("#"+"next").attr("onclick","next("+next+")");
      $("#"+id).css("display","block");
      $("#"+id).addClass(" appear-animation fadeInRightBig ");
    }else{
      $("#nextidnew").show();
      $("#"+"next").attr("onclick","next("+id+")");
      $("#"+"pre").attr("onclick","pre("+pre+")");
      $("#"+id).css("display","block");
      $("#"+id).addClass(" appear-animation fadeInRightBig ");
    }
  }

</script>

<section class="row">
  <div class="col-md-3 visible-md visible-lg qs-bar">
    <div class="">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="text-center">
          <img src="<?= BASEURL ?>frontend/img/logo.png" height="35" alt="Ischool4u" />
        </h4>
      </div>
        <div class="panel-body">
          <?php
          $count=1;
          foreach($mqtype as $mqval){
            if(isset($questionsIDlist[$mqval->qtid])){
              echo '<h4>';
              echo $qname = $mqval->qtname;
              echo '</h4>';

          if(count($questionsIDlist[$mqval->qtid])>0): $diff = 1;
          
          foreach ($questionsIDlist[$mqval->qtid] as $key => $questionsList) {
          $questions = MasterQuestion::find(array("questionid = '".$questionsList."'"));
              foreach ($questions as $questionsres): ?>
                      <div class="" onclick="showquestion(<?=$count?>)">
                          <?php
                          if($questionsres->tableid==1):
                          $question = MasterQuestionBank::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' "));
                          ?>
                              <div class="qcontent" >
                                  <span class="badge"><?=$count?></span> 
                                  <?php
                                    $q = strip_tags($question->question);
                                    $q = substr($q,0,100);
                                    echo $q;
                                  ?>
                              </div>
                          <?php elseif($questionsres->tableid==2):
                          $question = MasterMatchQuestion::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' "));
                          ?>
                              <div class="qcontent" >
                                  <span class="badge"><?=$count?></span>
                                  <?php
                                    $q = strip_tags($question->question);
                                    $q = substr($q,0,100);
                                    echo $q;
                                  ?>
                              </div>
                          <?php elseif($questionsres->tableid==3):
                          $question = MasterNumericQuestion::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' "));
                          ?>
                              <div class="qcontent" >
                                  <span class="badge"><?=$count?></span>
                                  <?php
                                    $q = strip_tags($question->question);
                                    $q = substr($q,0,100);
                                    echo $q;
                                  ?>
                              </div>
                          <?php elseif($questionsres->tableid==4):
                          $question = MasterParaQuestion::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' "));
                          ?>
                              <div class="qcontent" >
                                  <span class="badge"><?=$count?></span>
                                  <?php
                                    $q = strip_tags($question->question);
                                    $q = substr($q,0,100);
                                    echo $q;
                                  ?>
                              </div>
                          <?php elseif($questionsres->tableid==5):
                          $question = MasterReasonQuestion::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' "));
                          ?>
                              <div class="qcontent" >
                                  <span class="badge"><?=$count?></span>
                                  <?php
                                    $q = strip_tags($question->question);
                                    $q = substr($q,0,100);
                                    echo $q;
                                  ?>
                              </div>
                          <?php endif; ?>
                      </div>
              <?php $count++;
              endforeach;
          }
          endif;
            }
          }
          ?>
        </div>
    </div>
    </div>
  </div>
  <div class="col-md-9 col-md-offset-3">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="pull-left">
          <h3 style="margin:0;"><?=$freetest->name?></h3>
          <p style="margin:0;"> ( Fixed Test) </p>
        </div>

        <div class="pull-right">
          <div class="btn btn-primary pull-right" data-toggle="modal" data-target="#pause" onclick="getstats()">Finish</div>
          <div id="countdown" class="pull-right"></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <div class="panel-body" id='content-body'>
        <div class="col-md-8 col-md-offset-2">
        <form class="form-horizontal form-bordered" id="fix_form" action="<?=BASEURL?>test/freetest" method="post">
          <?php
            $count=1;
            foreach($questionsIDlist as $qval){
              if(count($qval)>0): 
                foreach ($qval as $key => $questionsList) {
                $questions = MasterQuestion::find(array("questionid = '".$questionsList."'"));
                    
                          foreach ($questions as $questionsres): ?>
                              <div id="<?=$count?>" class="panel panel-ssub test-questions">
                                  <div class="panel-body">
                                      <?php
                                      if($questionsres->tableid==1):
                                      $question = MasterQuestionBank::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' "));
                                      ?>
                                         
                                          <div class="qcontent" data-ans="<?=$question->ans?>">
                                              <?=strip_tags($question->question)?>                                                        
                                          </div>
                                          <?php if($questionsres->q_type==2){ ?>
                                          <ul class="list-group">
                                              <li class="list-group-item" id="<?=$question->questionid?>A" onClick="clickoption('<?=$question->questionid?>','A')"><span class="badge badge-inverse pull-left">A</span> <?=strip_tags($question->option1)?></li>
                                              <li class="list-group-item" id="<?=$question->questionid?>B" onClick="clickoption('<?=$question->questionid?>','B')"><span class="badge badge-inverse pull-left">B</span> <?=strip_tags($question->option2)?></li>
                                              <li class="list-group-item" id="<?=$question->questionid?>C" onClick="clickoption('<?=$question->questionid?>','C')"><span class="badge badge-inverse pull-left">C</span> <?=strip_tags($question->option3)?></li>
                                              <li class="list-group-item" id="<?=$question->questionid?>D" onClick="clickoption('<?=$question->questionid?>','D')"><span class="badge badge-inverse pull-left">D</span> <?=strip_tags($question->option4)?></li>
                                          </ul>
                                          <input type="hidden" value="" id="<?=$question->questionid?>" name='userans[]' class="checkattempt">
                                          <input type="hidden" value="<?=$question->questionid?>" id="qID<?=$count?>" name='qID[]' >
                                          <?php }else{ ?>
                                          <ul class="list-group">
                                              <li class="list-group-item" id="<?=$question->questionid?>A" onClick="oneclickoption('<?=$question->questionid?>','A')"><span class="badge badge-inverse pull-left">A</span> <?=strip_tags($question->option1)?></li>
                                              <li class="list-group-item" id="<?=$question->questionid?>B" onClick="oneclickoption('<?=$question->questionid?>','B')"><span class="badge badge-inverse pull-left">B</span> <?=strip_tags($question->option2)?></li>
                                              <li class="list-group-item" id="<?=$question->questionid?>C" onClick="oneclickoption('<?=$question->questionid?>','C')"><span class="badge badge-inverse pull-left">C</span> <?=strip_tags($question->option3)?></li>
                                              <li class="list-group-item" id="<?=$question->questionid?>D" onClick="oneclickoption('<?=$question->questionid?>','D')"><span class="badge badge-inverse pull-left">D</span> <?=strip_tags($question->option4)?></li>
                                          </ul>
                                          <input type="hidden" value="" id="<?=$question->questionid?>" class="checkattempt" name='userans[]'>
                                          <input type="hidden" value="<?=$question->questionid?>" id="qID<?=$count?>" name='qID[]' >
                                          <?php } ?>
                                      
                                      <?php elseif($questionsres->tableid==2):
                                          $question = MasterMatchQuestion::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' ")); ?>
                                                  
                                                  <div class="qcontent" data-ans="<?=$question->ans?>">
                                                      <?=$question->question?>
                                                  </div>
                                                  <table class="table table-bordered match-table">
                                                      <tbody>
                                                          <tr>
                                                              <td><span>A</span> <?=$question->a?></td>
                                                              <td><span>P</span> <?=$question->p?></td>
                                                          </tr>
                                                          <tr>
                                                              <td><span>B</span> <?=$question->b?></td>
                                                              <td><span>Q</span> <?=$question->q?></td>
                                                          </tr>
                                                          <tr>
                                                              <td><span>C</span> <?=$question->c?></td>
                                                              <td><span>R</span> <?=$question->r?></td>
                                                          </tr>
                                                          <tr>
                                                              <td><span>D</span> <?=$question->d?></td>
                                                              <td><span>S</span> <?=$question->s?></td>
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                                  <div class="qoption">
                                                      <div class="row">
                                                          <div class="col-md-12">
                                                              <?php $aans = array("A","B","C","D","E"); 
                                                                  if($question->ans_e ==''){
                                                                      $count = 3;
                                                                  }else{
                                                                      $count = 4;
                                                                  }
                                                              ?>
                                                              <?php for($i=0;$i<=$count;$i++): ?>
                                                              <div class="col-md-1"><?=$aans[$i]?>:</div>
                                                              <div class="col-md-11">
                                                                  <div class="checkbox-custom checkbox-default"><input type="checkbox" value="P" class="multicheck" onclick="checkmulti('<?=$question->questionid?>')" name="<?=$question->questionid?>ans<?=strtolower($aans[$i])?>p"><label>P</label></div>
                                                                  <div class="checkbox-custom checkbox-default"><input type="checkbox" value="Q" class="multicheck" onclick="checkmulti('<?=$question->questionid?>')" name="<?=$question->questionid?>ans<?=strtolower($aans[$i])?>q"><label>Q</label></div>
                                                                  <div class="checkbox-custom checkbox-default"><input type="checkbox" value="R" class="multicheck" onclick="checkmulti('<?=$question->questionid?>')" name="<?=$question->questionid?>ans<?=strtolower($aans[$i])?>r"><label>R</label></div>
                                                                  <div class="checkbox-custom checkbox-default"><input type="checkbox" value="S" class="multicheck" onclick="checkmulti('<?=$question->questionid?>')" name="<?=$question->questionid?>ans<?=strtolower($aans[$i])?>s"><label>S</label></div>
                                                                  <?php if($question->ans_e!=""):?>
                                                                  <div class="checkbox-custom checkbox-default"><input type="checkbox" value="T" class="multicheck" onclick="checkmulti('<?=$question->questionid?>')" name="<?=$question->questionid?>ans<?=strtolower($aans[$i])?>t"><label>T</label></div>
                                                                  <?php endif;?>
                                                              </div>
                                                              <div class="clearfix"></div>
                                                              <?php endfor; ?>
                                                          </div>
                                                      </div>
                                                  </div>
                                                  <input type="hidden" value="" id="<?=$question->questionid?>" class="checkattempt" name='userans[]'>
                                                  <input type="hidden" value="<?=$question->questionid?>" id="qID<?=$count?>" name='qID[]' >
                                                  <input type="hidden" value="<?=$question->ans_a?>" id="<?=$question->questionid?>ans1">
                                                  <input type="hidden" value="<?=$question->ans_b?>" id="<?=$question->questionid?>ans2">
                                                  <input type="hidden" value="<?=$question->ans_c?>" id="<?=$question->questionid?>ans3">
                                                  <input type="hidden" value="<?=$question->ans_d?>" id="<?=$question->questionid?>ans4">
                                                  <input type="hidden" value="<?=$question->ans_e?>" id="<?=$question->questionid?>ans5">
                                      <?php elseif($questionsres->tableid==3):
                                          $question = MasterNumericQuestion::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' ")); ?>
                                                  <div class="qcontent" data-ans="<?=$question->ans?>">
                                                      <?=$question->question?>
                                                  </div>
                                                  <div class="qoption">
                                                      <div class="row">
                                                          <div class="col-md-3">Min:  <?=$question->option1?></div>
                                                          <div class="col-md-3" >Max:  <?=$question->option2?></div>
                                                          <div class="col-md-3">
                                                              <input type="text" class="form-control checkattempt" id="<?=$question->questionid?>" placeholder="Answer">
                                                          </div>
                                                          <div class="col-md-3">
                                                          </div>
                                                          <div class="clearfix"></div>
                                                          <div class="reason<?=$question->questionid?>">
                                                              
                                                          </div>
                                                      </div>
                                                  </div>
                                                  
                                          <input type="hidden" value="<?=$question->questionid?>" id="qID<?=$count?>" name='qID[]' >
                                      <?php elseif($questionsres->tableid==4):
                                          $question = MasterParaQuestion::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' ")); ?>
                                                  <div class="qcontent">
                                                      <?=$question->para?>
                                                  </div>
                                                  <?php $opt=1; for($i=1;$i<=4;$i++): ?>
                                                  <div class="para-opt">
                                                      <?php
                                                        if($i==1 && $question->question1!=''){
                                                          echo $question->question1;
                                                        }elseif($i==2 && $question->question2!=''){
                                                          echo $question->question2;
                                                        }elseif($i==3 && $question->question3!=''){
                                                          echo $question->question3;
                                                        }elseif($i==4 && $question->question4!=''){
                                                          echo $question->question4;
                                                        }
                                                      ?>
                                                  </div>
                                                  <div class="qoption">
                                                      <div class="">
                                                          <?php if($i==1 && $question->question1!=''): ?>
                                                            <ul class="list-group">
                                                              <li class="list-group-item" id="<?=$question->questionid?>1A" onClick="oneclickoption('<?=$question->questionid?>1','A')"><?=$question->option1?></li>
                                                              <li class="list-group-item" id="<?=$question->questionid?>1B" onClick="oneclickoption('<?=$question->questionid?>1','B')"><?=$question->option2?></li>
                                                              <li class="list-group-item" id="<?=$question->questionid?>1C" onClick="oneclickoption('<?=$question->questionid?>1','C')"><?=$question->option3?></li>
                                                              <li class="list-group-item" id="<?=$question->questionid?>1D" onClick="oneclickoption('<?=$question->questionid?>1','D')"><?=$question->option4?></li>
                                                            </ul>
                                                          <?php elseif($i==2 && $question->question2!=''): ?>
                                                            <ul class="list-group">
                                                              <li class="list-group-item" id="<?=$question->questionid?>2A" onClick="oneclickoption('<?=$question->questionid?>2','A')"><?=$question->option5?></li>
                                                              <li class="list-group-item" id="<?=$question->questionid?>2B" onClick="oneclickoption('<?=$question->questionid?>2','B')"><?=$question->option6?></li>
                                                              <li class="list-group-item" id="<?=$question->questionid?>2C" onClick="oneclickoption('<?=$question->questionid?>2','C')"><?=$question->option7?></li>
                                                              <li class="list-group-item" id="<?=$question->questionid?>2D" onClick="oneclickoption('<?=$question->questionid?>2','D')"><?=$question->option8?></li>
                                                            </ul>
                                                          <?php elseif($i==3 && $question->question3!=''): ?>
                                                            <ul class="list-group">
                                                              <li class="list-group-item" id="<?=$question->questionid?>3A" onClick="oneclickoption('<?=$question->questionid?>3','A')"><?=$question->option9?></li>
                                                              <li class="list-group-item" id="<?=$question->questionid?>3A" onClick="oneclickoption('<?=$question->questionid?>3','B')"><?=$question->option10?></li>
                                                              <li class="list-group-item" id="<?=$question->questionid?>3A" onClick="oneclickoption('<?=$question->questionid?>3','C')"><?=$question->option11?></li>
                                                              <li class="list-group-item" id="<?=$question->questionid?>3A" onClick="oneclickoption('<?=$question->questionid?>3','D')"><?=$question->option12?></li>
                                                            </ul>
                                                          <?php elseif($i==4 && $question->question4!=''): ?>
                                                            <ul class="list-group">
                                                              <li class="list-group-item" id="<?=$question->questionid?>4A" onClick="oneclickoption('<?=$question->questionid?>4','A')"><?=$question->option13?></li>
                                                              <li class="list-group-item" id="<?=$question->questionid?>4A" onClick="oneclickoption('<?=$question->questionid?>4','B')"><?=$question->option14?></li>
                                                              <li class="list-group-item" id="<?=$question->questionid?>4A" onClick="oneclickoption('<?=$question->questionid?>4','C')"><?=$question->option15?></li>
                                                              <li class="list-group-item" id="<?=$question->questionid?>4A" onClick="oneclickoption('<?=$question->questionid?>4','D')"><?=$question->option16?></li>
                                                            </ul>
                                                          <?php endif; ?>
                                                      </div>
                                                  </div>
                                                  <?php if($i==1 && $question->question1!=''): ?>
                                                  <input type="hidden" value="" id="<?=$question->questionid?>1">
                                                  <input type="hidden" value="<?=$question->ans1?>" id="<?=$question->questionid?>1ans">
                                                  <div class="btn btn-primary col-md-12 ans-btn"  id="<?=$question->questionid?>1submit" onclick="checkmultians('<?=$question->questionid?>1')">Submit</div>
                                                  <div class="clearfix"></div>
                                                  <?php endif; ?>
                                                  <?php if($i==2 && $question->question2!=''): ?>
                                                  <input type="hidden" value="" id="<?=$question->questionid?>2">
                                                  <input type="hidden" value="<?=$question->ans2?>" id="<?=$question->questionid?>2ans">
                                                  <div class="btn btn-primary col-md-12 ans-btn"  id="<?=$question->questionid?>2submit" onclick="checkmultians('<?=$question->questionid?>2')">Submit</div>
                                                  <div class="clearfix"></div>
                                                  <?php endif; ?>
                                                  <?php if($i==3 && $question->question3!=''): ?>
                                                  <input type="hidden" value="" id="<?=$question->questionid?>3">
                                                  <input type="hidden" value="<?=$question->ans3?>" id="<?=$question->questionid?>3ans">
                                                  <div class="btn btn-primary col-md-12 ans-btn"  id="<?=$question->questionid?>3submit" onclick="checkmultians('<?=$question->questionid?>3')">Submit</div>
                                                  <div class="clearfix"></div>
                                                  <?php endif; ?>
                                                  <?php if($i==4 && $question->question4!=''): ?>
                                                  <input type="hidden" value="" id="<?=$question->questionid?>4">
                                                  <input type="hidden" value="<?=$question->ans4?>" id="<?=$question->questionid?>4ans">
                                                  <div class="clearfix"></div>
                                                  <?php endif; ?>
                                                  <?php endfor; ?>
                                      <?php elseif($questionsres->tableid==5):
                                          $question = MasterReasonQuestion::findFirst(array("questionid='".$questionsres->questionid."' AND qid='".$questionsres->qusid."' ")); ?>
                                                  <div class="qcontent" data-ans="<?=$question->ans?>">
                                                      <?=$question->question?>
                                                  </div>
                                                  <ul class="list-group">
                                                      <li class="list-group-item" id="<?=$question->questionid?>A" onClick="oneclickoption('<?=$question->questionid?>','A')"><span class="badge badge-inverse pull-left">A</span> <?=$question->option1?></li>
                                                      <li class="list-group-item" id="<?=$question->questionid?>B" onClick="oneclickoption('<?=$question->questionid?>','B')"><span class="badge badge-inverse pull-left">B</span> <?=$question->option2?></li>
                                                      <li class="list-group-item" id="<?=$question->questionid?>C" onClick="oneclickoption('<?=$question->questionid?>','C')"><span class="badge badge-inverse pull-left">C</span> <?=$question->option3?></li>
                                                      <li class="list-group-item" id="<?=$question->questionid?>D" onClick="oneclickoption('<?=$question->questionid?>','D')"><span class="badge badge-inverse pull-left">D</span> <?=$question->option4?></li>
                                                  </ul>
                                                  <input type="hidden" value="" id="<?=$question->questionid?>" name='userans[]'>
                                                  <input type="hidden" value="<?=$question->questionid?>" id="qID<?=$count?>" name='qID[]' >
                                      <?php endif; ?>
                                  </div>

                          </div>
                          <?php $count++;
                          endforeach;
                        }
              endif;
              }
              $subjectlist = json_decode($master_exam->sort);
              $subjectlist = implode(',',$subjectlist);
          ?>
            <input type="hidden" value="<?=$freetest->id?>" name="testid">
            <input type="hidden" value="6" name="test_type">
            <input type="hidden" value="<?=$subjectlist?>" name="subtopics_list">
            <input type="hidden" id="note" value="" name="time_taken">
          </form>
        </div>
        <div class="clearfix"></div>
        <div class="pull-left">
          <h3><span id="pre"><i class="fa fa-arrow-left"></i> Previous</span></h3>
        </div>
        <div class="pull-right" id="nextidnew">
          <h3><span id="next" onclick="next(2)">Next <i class="fa fa-arrow-right"></i></span></h3>
        </div>
      </div>
    </div>
    <div id="pause" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
            <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Confermation</h4>
                  </div>
                  <div class="modal-body">
                    <div class="">
                        <div class="row">
                            <div class="col-md-12">
                                No of Question <?=$numqus?><br>
                            Attempted : <span id="attempt"></span><br>
                          Unattempted : <span id="unattempt"></span><br>
                          Skiped : <span id="skiped"></span><br>
                          Time Present : <span id="time"></span><br>
                            </div>
                        </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" onclick="submitform()">Finish</button>
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
    </div>
  </div>
</section>

<?php echo UIElementsAdmin::getFooter("tables"); ?>
<?php
    $qarray = json_encode($questionsIDlist);
?>
<script>
function submitform(){
  document.getElementById("fix_form").submit();
}

window.onload = function() {
  var scren = $(window.top).height()-100;
  $("#content-body").css('height',scren);
};

setTimeout(function(){ 
  document.getElementById("fix_form").submit();
}, exam_tyme);

function getstats(){
  var qid = <?=$qarray?>;
  var attempt = 0;var check; var skiped=0;var unattempt=<?=$numqus?>;
  $("#time").html($("#note").val());
  for(i=0;i<<?=$numqus?>;i++){//console.log(qid[i]);
      if($("#"+qid[i]).val() !=''){//alert($("#QID000109").val());
        check = $("#"+qid[i]).val();
        // console.log(check);
        if(check!="skipped" ){
          attempt = attempt+1;
          unattempt = unattempt-1;
        }else{
          skiped = skiped+1;
          unattempt = unattempt-1;
        }
      }
  }
  
  $("#attempt").html(attempt);
  $("#skiped").html(skiped);
  $("#skippedcount").val(skiped);
  $("#unattempt").html(unattempt);
  $("#unattemptcount").val(unattempt);
}

function checkmulti(qid){
  if($(".multicheck").is(':checked')==true){
    $("#"+qid).val("match");
  }else{
    $("#"+qid).val("");
  }
}
</script>