<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
$sup_cat = $user_session['sup_cat'];
$exam_id = MasterExamType::findFirst(array("exam_type='1' AND sup_cat='".$sup_cat."'"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('sid'=>$exam_id->etid,'id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();?>
<?php
  $getVal=$this->request->get();
  $url = preg_replace('/^\//', '', $getVal['_url']);
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds('','',$this->session->get("course_name"))?>
            
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?=ucfirst(preg_replace("(-)", " ", $subjects))?></h2>
                </div>
            </div>
            <?php $this->flashSession->output() ?>
            <div class="row">                       
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 col-xl-6">

                            <div id="package" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Select Package</h4>
                                      </div>
                                      <div class="modal-body">
                                        <div class="">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form action="<?=BASEURL?>package/selectpackage" id="packages" method="post">
                                                    <?php
                                                        $packages = MasterPackages::find("test_type='1' AND sup_cat LIKE '%".$user_session['sup_cat']."%' ");
                                                        if(count($packages)!=0){
                                                            foreach($packages as $pak){
																echo '<div class="package-list">';
                                                                echo '<div class="radio-custom radio-success"><input type="radio" name="packageid" value="'.$pak->id.'">';
                                                                echo "<label>".$pak->name.'</label> </div> <h5>'.$pak->desc."</h5><div class='clearfix'></div>";
																echo '</div>';
                                                            }
                                                        }else{
                                                            echo 'No packages are defined.';
                                                        }
                                                    ?>
                                                    <input type="hidden" value="<?=$url?>" name="url">
                                                    </form><br />
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-success" onclick="submitform('packages')">Add Package</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                      </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                            <div id="unitpackage" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Select Package</h4>
                                      </div>
                                      <div class="modal-body">
                                        <div class="">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form action="<?=BASEURL?>package/selectpackage" id="packages_topic" method="post">
                                                    <?php
                                                        $packagesunit = MasterPackages::find("test_type='3' AND sup_cat LIKE '%".$user_session['sup_cat']."%' ");
                                                        if(count($packagesunit)!=0){
                                                            foreach($packagesunit as $pakunit){
													echo '<div class="package-list">';
													echo '<div class="radio-custom radio-success"><input type="radio" name="packageid" value="' . $pakunit->id . '">';
													echo "<label>".$pakunit->name.'</label> </div> <h5>'.$pakunit->desc."</h5><div class='clearfix'></div>";
													echo '</div>';																
                                                            }
                                                        }else{
                                                            echo 'No packages are defined.';
                                                        }
                                                    ?>
                                                    <input type="hidden" value="<?=$url?>" name="url">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-success" onclick="submitform('packages_topic')">Add Package</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                      </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                        <?php 
                            $subsub = json_decode($course->subsubject);
                            if(isset($subsubjects))
                            { $i=1;

                                foreach ($subsubjects as $subsubjectsres) {
                                    if (isset($subsub) && !empty($subsub)) 
                                    {
                                        foreach($subsub as $val)
                                        {
                                            if($val==$subsubjectsres->ssid)
                                            {
                                                ?>
                                                <section class="panel isfu">
                                                    <a href="<?=BASEURL?>module/<?=$subjects?>/<?=$subsubjectsres->slug?>" class="sub-subject-con">
                                                        <div class="panel-body">                                            
                                                            <div class="widget-summary widget-summary-sm">
                                                                <div class="widget-summary-col widget-summary-col-icon">
                                                                    <div class="summary-icon bg-primary">
                                                                        <i class="fa fa-lightbulb-o"></i>
                                                                    </div>
                                                                </div>
                                                                <div class="widget-summary-col">
                                                                    <div class="summary">                                                       
                                                                        <div class="info">
                                                                            <strong class="amount"><?=$subsubjectsres->ssname?></strong>                            
                                                                        </div>
                                                                    </div>
                                                                    <!-- <div class="summary-footer">
                                                                        <a class="text-muted text-uppercase">(view all)</a>
                                                                    </div> -->
                                                                </div>
                                                            </div>
                                                            <button class="goto-chapter">
                                                                <i class="fa fa-chevron-right"></i>
                                                            </button>
                                                        </div>
                                                    </a>
                                                </section>
                                                <?php
                                            }
                                        }
                                    }
                                }
                            }
                            ?>                                    
                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-6">
                            <?php if($package=='open'): ?>
<!--                            <a href="<?=BASEURL?>tests/swtdesc/1/<?=$user_session['course']?>/<?=$subjects?>" target="_blank" class="subject-wise-test">-->
                            <a href="<?=BASEURL?>tests/subjecttype/1/<?=$user_session['course']?>/<?=$subjects?>">
                            <?php endif;?>
<section class="panel topicwise-test">
                            <div class="panel-body">
                                <div class="widget-summary widget-summary-xs">
                                    <div class="widget-summary-col widget-summary-col-icon">
                                        <div class="summary-icon">
                                            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="widget-summary-col">
                                        <div class="summary">
                                            <h4 class="title">Start subject Wise Test</h4>

                                        </div>
                                    </div>
                                </div>
                                                <?php if($package=='close'): ?>
                                                <div class="col-md-12 unit-one-i">
                                                <i class="fa fa-lock fa-3x pull-right" data-toggle="modal" data-target="#package"></i></div>
                                                <?php endif;?>
                            </div>
                        </section> 
                            <?php if($package=='open'): ?>
                            </a>
                            <?php endif;?>   
                             <?php if($unitpackage=='open'): ?>
<!--                                        <a href="<?=BASEURL?>tests/uwtdesc/<?=$unit->id?>" target="_blank">-->
                                        <a href="<?=BASEURL?>tests/unittyps/3/<?=$user_session['course']?>/<?=$subjects?>">
                                        <?php endif; ?>
<section class="panel topicwise-test">
                            <div class="panel-body">
                                <div class="widget-summary widget-summary-xs">
                                    <div class="widget-summary-col widget-summary-col-icon">
                                        <div class="summary-icon">
                                            <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
                                        </div>
                                    </div>
                                    <div class="widget-summary-col">
                                        <div class="summary">
                                            <h4 class="title">Start Unit Wise Test</h4>

                                        </div>
                                    </div>
                                </div>
                                                                     
                                       

                                                <?php if($unitpackage=='close'): ?>
                                                <div class="col-md-12 unit-one-i">
                                                <i class="fa fa-lock fa-3x pull-right" data-toggle="modal" data-target="#unitpackage"></i></div>
                                                <?php endif;?>
                            </div>
                        </section> 
                                        <?php if($unitpackage=='open'): ?>
                                        </a>
                                        <?php endif; ?>
                                <?php 
//                                        }
//                                    }
//                                }
                            ?>                        
                                                 
                            <section class="panel suggested-toppers">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Toppers to Follow</h2>
                                </header>
                                <div class="panel-body">
                                    <ul class="simple-post-list">
                                        <?php foreach($follow as $fval): ?>
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#">
                                                            <?php if($fval['img']!=''): ?>
                                                            <img src="<?= BASEURL ?>propic/<?=$fval['img']?>" alt="<?=$fval['name']?>" width="60" height="60">
                                                            <?php else: ?>
                                                                <img src="<?= BASEURL ?>assets/images/post-thumb-1.jpg" alt="<?=$fval['name']?>" width="60" height="60">
                                                            <?php endif; ?>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i><?php if(in_array($fval['userid'],$following)){?>Following<?php }else if(in_array($fval['userid'],$follower)){ ?> Follower <?php }else{ ?><span onclick="followfriend(<?=$fval['userid']?>);" id="fld<?= $fval['userid'] ?>">Follow</span><?php } ?></button>
                                                    <a href="#"><b><?=$fval['name']?></b></a>
                                                    <div class="post-meta">
                                                        <i class="fa fa-crosshairs"></i><?=$fval['per']?>%
                                                    </div>                                                      
                                                </div>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script>
    function submitform(id){
      document.getElementById(id).submit();
    }
</script>