<?php
$cours = array('id' => $course->id, 'name' => $course->name, 'subject' => array());
$sub = json_decode($course->subject);
$j = 0;
$subj = MasterSubject::find(array("status=1"));
foreach ($subj as $val) {
    foreach ($sub as $subval) {
        if ($val->id == $subval) {
            $cours['subject'][$j] = array('id' => $val->id, 'slug' => $val->slug, 'name' => $val->subjectname);
            $j++;
        }
    }
}
$getVal = $this->request->get();
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <script>
        function checkbookmark(qid,type){
            if($("#"+qid+'book').hasClass('booked')!=true){
                $("#"+qid+"book").addClass("booked");
            }else{
                $("#"+qid+"book").removeClass("booked");
            }
            $.ajax({
                type: 'POST',
                url: '<?php echo BASEURL; ?>bookmarks/books',
                data: 'qid='+qid+'&type='+type,
                success: function(data){
                    if(data){
                        console.log(data);
                    }
                }
            });
        }
    </script>
        <?= UIElementsUsers::getHeadnav($user_session) ?>
    <div class="inner-wrapper">
            <?= UIElementsUsers::getfrontSidebar($cours, $this->session->get("fixpack"), $this->session->get("fullsylabus")) ?>
        <section role="main" class="content-body front-content after-breadcm">
            <?= UIElementsUsers::getBreadcrumds($subject->subjectname, $subsubject->ssname, $this->session->get("course_name")) ?>
<?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?= ucfirst(preg_replace("(-)", " ", $topics->slug)) ?></h2>
                    <div class="bread-menu">
                        <ul>
                            <li><a href="<?= BASEURL ?>question/<?= $subject->slug . '/' . $subsubject->slug . '/' . $topics->slug ?>">Practice Question</a></li>
                            <li><a href="<?= BASEURL ?>assessment/<?= $subject->slug . '/' . $subsubject->slug . '/' . $topics->slug ?>">Assessment</a></li>
                            <li><a href="<?= BASEURL ?>tip/<?= $subject->slug . '/' . $subsubject->slug . '/' . $topics->slug ?>">Tips</a></li>
                            <li><a href="<?= BASEURL ?>articles/<?= $subject->slug . '/' . $subsubject->slug . '/' . $topics->slug ?>">Study Material</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-9">
                     <?php
                    if (isset($tips) && $tips->count() != 0) {
                        $i = 1;
                        foreach ($tips as $tipsres) {
                            ?>
                    <section class="panel panel-featured-top tips-con tips-type-formula">
                        <div class="panel-body">
                            <div class="col-md-12 tips-header">
                                <p><b><?php echo $i;?></b><?php echo ucfirst($tipstype[$tipsres->tiptype]);?></p>
                            </div>
                            <div class="col-md-12 tips-body">
                                <h3><?php echo ucfirst($tipsres->title);?></h3>
                                <p><?php echo ucfirst($tipsres->tip);?></p>
                            </div>                            				
                        </div>
                    </section>                
                     <?php
                        $i++ ;}
                    } else {
                        echo '<p style="text-align: center;margin-top: 100px;font-size: 20px;color: #E04206;">No Tips found.</p>';
                    }
                    ?>
                </div>
                <div class="col-md-3">
                    <div class="panel">
                        <div class="filter-type-con">
                            <div class="right-sidebar">
                                <section class="panel" style="margin-bottom:0;">
                                    <div class="panel-body heading-cust">
                                            <div class="panel-heading">
                                                <h2>Filter Questions</h2>
                                            </div>
                                    </div>
                                </section>  
                                <form method="get" action="">
                                <div class="right-qs clearfix">
                                    <button id="ftype1"><i class="fa fa-chevron-circle-right" aria-hidden="true" id="rotateicon1"></i> by Type</button>
                                    <div class="ftypeshow" id="ftype1show">
                                        <?php foreach ($tipstype as $key=>$tipstyperes) { ?>
                                        <div class="checkbox-custom checkbox-default ">
                                            <input name="type[]" type="checkbox" value="<?= $key;?>" onclick="form.submit();" <?php if(in_array($key,$getVal['type'])){ echo "checked";}?>>
                                            <label for="curs1"><?= ucfirst($tipstyperes); ?></label>
                                        </div>
                                        <div class="clearfix"></div>
                                        <?php
                                    }
                                    ?>
                                </div>
                                </div>
                               </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script>
    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
$(document).ready(function(){
    $("#ftype1").click(function(){
        $("#ftype1show").toggle();
		 $("#rotateicon1").toggleClass("rotateicon");
    });
});
$(document).ready(function(){
    $("#ftype2").click(function(){
        $("#ftype2show").toggle();
		 $("#rotateicon2").toggleClass("rotateicon");
    });
});
$(document).ready(function(){
    $("#ftype3").click(function(){
        $("#ftype3show").toggle();
		 $("#rotateicon3").toggleClass("rotateicon");
    });
});
</script>