<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
$sup_cat = $user_session['sup_cat'];
$exam_id = MasterExamType::findFirst(array("exam_type='2' AND sup_cat='".$sup_cat."'"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('tid'=>$exam_id->etid,'id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
?>
<?php
  $getVal=$this->request->get();
  $url = preg_replace('/^\//', '', $getVal['_url']);
  $threshold = SiteSetting::findfirst("id_setting=1"); 
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<script>
    function addpackage(){
        var url = '<?=$url?>';
        // alert(url);
        // var sup_cat = $("#sup_cat").val();
        // ajax call start here
        // $.ajax({
        //     type: 'POST',
        //     url: '<?=BASEURL?>exams/getcourse',
        //     data: 'sup_cat='+supcat,
        //     success: function(data){
        //     if(data){
        //       $("#course").html(data);
        //         console.log(data);
        //     }
        //   }
        // });
  }
</script>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds($subject->slug,'',$this->session->get("course_name"))?>
            
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?=ucfirst(preg_replace("(-)", " ", $subsubject->slug))?></h2>
                </div>
            </div>
<?php $this->flashSession->output() ?>
            <div class="row">                       
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 col-xl-6">
                            <?php if($or!=0): ?>
                            <?php endif;?>
                        <div class="dashboard-top">
                        	<span><i class="fa fa-pencil-square-o"></i></span>
                            <h3>Topic wise test</h3>
                            <p>Choose the Topic that you are interested.</p>
                        </div>                            
                            <!--<h3 class="mt-lg topicwise-test-heading">Topic wise test</h3>-->
                            <?php
                            $overallsubtopic=0;
                            $alltotalsec1=0;
                            $overallsucctopic=array();
                            if(isset($topics)){ 
                                $i=1;
                                $overtotalq = 0;$overtotala = 0;$overtotalper = 0;$overtotaltime = 0;
                                foreach ($topics as $topicsres) {
                                $assresult = MasterAssessment::find("topics='".$topicsres->tid."' ");
                                $totalq = 0;$totala = 0;$totaltime = 0;
                                $totasstopic=array();
                                $sucstop=array();
                                $uniatopiccomp=0;
                                $totaltoic = MasterSubTopics::find("tid='".$topicsres->tid."'");
                                $overallsubtopic+=$totaltoic->count();
                                foreach($assresult as $val){
                                    $id = $val->id;
                                    $tr = MasterResult::findFirst("assess_id='".$id."' AND userid='".$user_session['id']."'");
                                    if(!empty($tr)){
                                        $totalq = $totalq + $tr->noq;
                                        $totala = $totala + $tr->nora;
                                        $exm_arr=explode(":",$tr->time_taken);
                                        $totaltime = $totaltime + $tr->total_time;
                                        $percen=number_format((float)$tr->nora/$tr->noq,2, '.', '')*100;
                                                if($percen>$threshold->threshold_value){
                                                    $sucstop=json_decode($val->subtopics);
                                                    foreach ($sucstop as $nval) {
                                                        array_push($totasstopic,$nval);
                                                        array_push($overallsucctopic,$nval);
                                                    }
                                                }
                                    }
                                }
                                $totasstopicuniq=array_unique($totasstopic);
                                 $uniatopiccomp=number_format((float)count($totasstopicuniq)/$totaltoic->count(),2, '.', '')*100;
                                $overtotalq = $overtotalq+$totalq; $overtotala = $overtotala+$totala;
                                $overtotaltime = $overtotaltime+$totaltime;
                                $exp='"id":"'.$topicsres->tid.'"';
                                 $sqlpck = "SELECT * FROM  MasterPracticePackage WHERE topic LIKE '%".$exp."%' AND course=".$course->id;
                                 $practicepckg = $this->modelsManager->executeQuery($sqlpck);
                                //$practicepckg = MasterPracticePackage::find(array("topic LIKE '%".$exp."%' AND course=".$course->id));
                                if (count($practicepckg) != 0){
                                    $pckgid=array();
                                    foreach ($practicepckg as $vv) {
                                    $pckgid[] = $vv->id;
                                     }
                                     $allid=implode(",",$pckgid);
                                     $userpckg = UserPracticePackage::find(array("id_package IN ($allid) AND id_user=".$user_session['id']));
                                     foreach($userpckg as $pck){
                                         $trd = MasterPracticePackage::findFirst("id='".$pck->id_package."'");
                                         $lastday[$topicsres->tid][]=strtotime($trd->validity." days",strtotime($pck->add_date));
                                     }
                                   }
                                ?>
                            <section class="panel">
                                <?php if((count($practicepckg)==0) || (!empty($lastday[$topicsres->tid]) && max($lastday[$topicsres->tid])>=time())){?>
                                   <a href="<?=BASEURL?>question/<?=$subject->slug?>/<?=$subsubject->slug?>/<?=$topicsres->slug?>" class="topic-wise-test">
                                <?php }else{ ?>
                                    <a href="#" class="topic-wise-test" onclick="viewpracticepackage('<?=$topicsres->tid?>','<?=$course->id?>');">
                                        <i class="fa fa-lock fa-2x" style="cursor: pointer;float: right;margin: 5px 10px 0px 0;"></i>
                                        <?php } ?>
                                    <div class="panel-body">
                                    <div class="widget-summary widget-summary-xs">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-primary">
                                                <?=$i++?>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">
                                                <h4><?=$topicsres->tname?></h4>
<!--                                                 <div class="row">                                                       
                                                    <div class="progress progress-sm progress-squared m-md light">
                                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                            60%
                                                        </div>
                                                    </div>                                                          
                                                </div> -->
                                                <hr>
                                                <div class="row your-stats your-stats-cust">
                                                    <div class="col-sm-4 col-xs-4 text-center">
                                                    <span class="completed-bg circular-bar-chart" data-percent="<?=$uniatopiccomp?>" data-plugin-options='{ "barColor": "#fff", "delay": 300, "size": 25, "lineWidth": 4, "trackColor": "#b4dcb6" }'>
                                                </span> 
                                                <label for=""><small><b>Completed</b></small></label>
                                                        <label class="status-label">
                                                            <?php
                                                            echo $uniatopiccomp." %";
                                                            ?>
                                                        </label>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-4 text-center">
                                                    <span class="accuracy-bg"><i class="fa fa-bullseye" aria-hidden="true"></i></span>
                                                        <label for=""><small><b>Accuracy</b></small></label>
                                                        <label class="status-label"><?php 
                                                            if(!empty($totalq)){
                                                                echo round($totala/$totalq*100);
                                                                $overtotalper = $overtotalper+round($totala/$totalq*100);
                                                            }else{
                                                                echo 0;
                                                            }
                                                        ?>%</label>
                                                    </div>
                                                    <div class="col-sm-4 col-xs-4 text-center">
                                                    <span class="time-bg"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                                        <label for=""><small><b>Time Practiced</b></small></label>
                                                        <label class="status-label">
                                                            <?php
                                                            $totalsec1=0;
                                                      $sql1 = "SELECT SUM(totaltime) as totime from PracticeTimeSpent WHERE id_topic=$topicsres->tid AND id_user='{$user_session['id']}' GROUP BY id_topic";
                                                     $rescm1=$this->modelsManager->executeQuery($sql1);
                                                 if(isset($rescm1[0])){
                                                    $totalsec1=round($rescm1[0]->totime/60);
                                                      }
                                                      $alltotalsec1=$alltotalsec1+$totalsec1;
                                                      $hours = floor($totalsec1 / 60);
                                                      $hours = ($hours > 0)? $hours." hr" :"";
                                                      $minutes = $totalsec1 % 60;
                                                      $minutes = ($minutes > 0)? $minutes." min" :"";
                                                    echo $hours." ".$minutes;
                                                            ?>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-4 text-center">
                                                        
                                                    </div>
                                                </div>                                                      
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </section>
                            <?php
                                    }
                                }
                             ?>
                        </div>
                        <?php 
                            $overallsucctopicuniq=array_unique($overallsucctopic);
                                 $alltopiccomp=number_format((float)count($overallsucctopicuniq)/$overallsubtopic,2, '.', '')*100;
                                  $hours = floor($alltotalsec1 / 60);
                                  $hours = ($hours > 0)? $hours." hr" :"";
                                  $minutes = $alltotalsec1 % 60;
                                  $minutes = ($minutes > 0)? $minutes." min" :"";
                                                    
                                        ?>
                        <div class="col-md-12 col-lg-4 col-xl-6">
                            <section class="panel your-stats-con">
                                <header class="panel-heading" style="background: transparent !important;">
                                    
                                </style>
                                    <h2 class="panel-title">                                        
                                        <span class="va-middle">Your Stats</span>
                                    </h2>
                                </header>
                                <div class="panel-body">
                                    <div class="content">
                                        <div class="row your-stats your-stats-cust">
                                            <div class="col-md-6 col-sm-6">
                                                <span class="completed-bg circular-bar-chart" data-percent="<?=$alltopiccomp?>" data-plugin-options='{ "barColor": "#fff", "delay": 300, "size": 25, "lineWidth": 4, "trackColor": "#b4dcb6" }'>
                                                </span>  
                                                <!-- <span class="completed-bg"><i class="fa fa-circle-o-notch" aria-hidden="true"></i></span> -->
                                                <label for=""><small><b>Completed</b></small></label>
                                                <label class="status-label"><?php echo $alltopiccomp;?>%</label>
                                            </div>
                                            <!-- <div class="col-md-6 col-sm-6">
                                                <span class="attempted-bg"><i class="fa fa-question" aria-hidden="true"></i></span>
                                                <!-- <label for=""><small><b>Attempted</b></small></label> -->
                                                <!-- <label class="status-label"><?=$overtotala.'/'.$overtotalq?></label> -->
                                            <!-- </div> -->
                                            <div class="col-md-6 col-sm-6"> 
                                                <span class="accuracy-bg"><i class="fa fa-bullseye" aria-hidden="true"></i></span>
                                                <label for=""><small><b>Accuracy</b></small></label>
                                                <label class="status-label"><?=$overtotalper?>%</label>                                                
                                            </div>
                                            <div class="col-md-12 col-sm-12">  
                                                <span class="time-bg"><i class="fa fa-clock-o" aria-hidden="true"></i></span>
                                                <label for=""><small><b>Time Practiced</b></small></label>
                                                <label class="status-label"><?= $hours." ".$minutes;?></label>
                                            </div>
                                        </div>
                                        <hr class="dotted short">                                       
                                    </div>
                                </div>                              
                            </section>
                            <section class="panel suggested-toppers">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Toppers to Follow</h2>
                                </header>
                                <div class="panel-body">
                                    <ul class="simple-post-list">
                                        <?php foreach($follow as $fval): ?>
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#">
                                                            <?php if($fval['img']!=''): ?>
                                                            <img src="<?= BASEURL ?>propic/<?=$fval['img']?>" alt="<?=$fval['name']?>" width="60" height="60">
                                                            <?php else: ?>
                                                                <img src="<?= BASEURL ?>assets/images/post-thumb-1.jpg" alt="<?=$fval['name']?>" width="60" height="60">
                                                            <?php endif; ?>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i><?php if(in_array($fval['userid'],$following)){?>Following<?php }else if(in_array($fval['userid'],$follower)){ ?> Follower <?php }else{ ?><span onclick="followfriend(<?=$fval['userid']?>);" id="fld<?= $fval['userid'] ?>">Follow</span><?php } ?></button>
                                                    <a href="#"><b><?=$fval['name']?></b></a>
                                                    <div class="post-meta">
                                                        <i class="fa fa-crosshairs"></i><?=$fval['per']?>%
                                                    </div>                                                      
                                                </div>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</section>
<div id="package" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                <h4 class="modal-title" id="myModalLabel">Select Package</h4>
            </div>
            <div class="modal-body">
                <div class="">
                    <div class="row">
                        <div class="col-md-12">
                            <form action="<?= BASEURL ?>package/selectpracpackage" id="packages" method="post">
                            <div id="packdata">
                                </div>
                                <input type="hidden" value="<?= $url ?>" name="url">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-success" onclick="submitform();">Add Package</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
function submitform(){
    if($(".chkeb").is(":checked")){
    document.getElementById("packages").submit();
    }else{
        alert("Select atleast one package");
    }
}
function viewpracticepackage(id_topic,id_course){
   $.ajax({
                type: 'POST',
                url: '<?php echo BASEURL; ?>package/viewpracticepackage',
                data: 'id_topic='+id_topic+'&id_course='+id_course,
                success: function(data){
                    if(data){
                        $("#packdata").html(data);
                        $("#package").modal('show');
                    }
                }
            });
}
</script>