<?php

echo $this->getContent();
#####################################
####### Answer Options Array ########
##################################### 
$ansList = array (
  'A' => 'A',
  'B' => 'B',
  'C' => 'C',
  'D' => 'D',
  'AB' => 'AB',
  'AC' => 'AC',
  'AD' => 'AD',
  'BC' => 'BC',
  'BD' => 'BD',
  'CD' => 'CD',
  'ABC' => 'ABC',
  'ABD' => 'ABD',
  'ACD' => 'ACD',
  'BCD' => 'BCD',
  'ABCD' => 'ABCD',
);
echo UIElementsAdmin::getHeader("updates"); ?> 
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
		<?=UIElementsAdmin::question()?>
            <?=UIElementsAdmin::getBreadcrumds()?>
            
            <script>
              function getsubsubject(){
                var subid = $( "#subject" ).val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getsubsubject',
                  data: 'subjectid='+subid,
                  success: function(data){
                    if(data){
                      $("#subsubject").html(data);
                      $("#topics").html("<option>[ Select Topics ]</option>");
                      $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
                      console.log(data);
                    }
                  }
                });
              }
              function gettopics(){
                var ssubid = $( "#subsubject" ).val();
                var subid = $( "#subject" ).val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/gettopics',
                  data: {subjectid:subid,ssubid:ssubid},
                  success: function(data){
                    if(data){
                      $("#topics").html(data);
                      $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
                      console.log(data);
                    }
                  }
                });
              }
              function getsubtopics(){
                var topics = $("#topics").val();
                var ssubid = $("#subsubject").val();
                var subid = $("#subject").val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getsubtopics',
                  data: {subjectid:subid,ssubid:ssubid,topics:topics},
                  success: function(data){
                    if(data){
                      $("#subtopics").html(data);
                      console.log(data);
                    }
                  }
                });
              }
              function getanswer(){
                var q_type = $("#q_type").val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/getanswer',
                  data: {q_type:q_type},
                  success: function(data){
                    if(data){
                      $("#answer").html(data);
                      console.log(data);
                    }
                  }
                });
              }
            </script>
            <style>
                #btn-question,#btn-option1,#btn-option2,#btn-option3,#btn-option4,#btn-hint {
                    display: none;
                }
            </style>
        <!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Add Question</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>questionbank/addquestion" method="post">
                                    <div class="form-group">
                                        <div class="col-md-12">
					                               <textarea class="form-control Editor-editor"   placeholder="Text Editor" rows="12" name="ques_name"></textarea>
                                          <!--<textarea  id="myname" name="ques_name"  placeholder="Text Editor" ></textarea>-->
                                          <div class="clearfix gap"></div>
                                          <div class="btn btn-primary" id="btn-question" onclick="setTextArea('question')">Add Question</div>
                                          <div class="btn btn-primary" id="btn-option1" onclick="setTextArea('option1')">Add Option1</div>
                                          <div class="btn btn-primary" id="btn-option2" onclick="setTextArea('option2')">Add Option2</div>
                                          <div class="btn btn-primary" id="btn-option3" onclick="setTextArea('option3')">Add Option3</div>
                                          <div class="btn btn-primary" id="btn-option4" onclick="setTextArea('option4')">Add Option4</div>
                                          <div class="btn btn-primary" id="btn-hint" onclick="setTextArea('hint')">Hint</div>
                                        </div>
                                        <div class="clearfix gap"></div>
                                        <div class="col-md-12 editCollection">
                                          <div class="btn btn-sm btn-info" onclick="setEditor('question')">Question</div>
                                          <div class="btn btn-sm btn-info" onclick="setEditor('option1')">Option A</div>
                                          <div class="btn btn-sm btn-info" onclick="setEditor('option2')">Option B</div>
                                          <div class="btn btn-sm btn-info" onclick="setEditor('option3')">Option C</div>
                                          <div class="btn btn-sm btn-info" onclick="setEditor('option4')">Option D</div>
                                          <div class="btn btn-sm btn-info" onclick="setEditor('hint')">Hint</div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Enter Question <span class="required">*</span></label>
                                        <div class="col-md-10">
                                        <textarea class="form-control question" id="question" required  placeholder="Enter Question" rows="3" name="question"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option One <span class="required">*</span></label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option1" id="option1" required  placeholder="Option One" rows="3" name="option1"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Two <span class="required">*</span></label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option2" id="option2" required placeholder="Option Two" rows="3" name="option2"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Three <span class="required">*</span></label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option3" id="option3" required placeholder="Option Three" rows="3" name="option3"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Option Four <span class="required">*</span></label>
                                        <div class="col-md-10">
                                        <textarea class="form-control option4" id="option4" required placeholder="Option Four" rows="3" name="option4"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Hints</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control hint"  placeholder="Hints" rows="3" name="hint" id="hint"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Type</label>
                                        <div class="col-md-10">
                                        <select name="q_type" id="q_type" class="form-control" required>
                                          <option value="">--Choose Question Type--</option>
                                          <option value="1">Single Type Question</option>
                                          <option value="2">Multiple Type Question</option>
                                        </select>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-2 control-label">Answer</label>
                                        <div class="col-md-10">
                                          <select class="form-control mb-md" id="answer" name="ans" >
                                            <option value="">Choose Answer</option>
                                              <?php 
                                              foreach ($ansList as $key => $ansRes) {
                                                echo "<option value='".$key."'>".$ansRes."</option>";
                                              }
                                              ?>
                                          </select>
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                          <label for="subject">Subject <span class="required">*</span></label>
                                            <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                                <option value="">[ Select Subject ]</option>
                                                <?php if (isset($subdet) ) {
                                                  foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?=$subdetRes->id?>'><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subsubject">Sub Subject</label>
                                            <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                                <option value="">[ Select Sub Subject ]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="topics">Topic</label>
                                            <select class="form-control mb-md" name="topics" id="topics" onchange="getsubtopics()" >
                                                <option value="">[ Select Topics ]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subtopics">Sub Topic</label>
                                            <select class="form-control mb-md" name="subtopics" id="subtopics">
                                                <option value="">[ Select Sub Topics ]</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Pool <span class="required">*</span></label>
                                        <div class="col-md-10">
                                          <div class="checkbox-custom checkbox-default">
                                            <input type="checkbox" id="practice" value="1" name="e_type[]">
                                            <label for="practice" >Practice Pool</label>
                                          </div>
                                          <div class="checkbox-custom checkbox-default">
                                            <input type="checkbox" id="test" value="2" name="e_type[]">
                                            <label for="test" >Test Pool</label>
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Source</label>
                                        <div class="col-md-10">
                                        <select name="q_source"  class="form-control">
                                          <option value="">--Choose Question Source--</option>
                                          <?php foreach($qsources as $value){ ?>
                                          <option value="<?=$value->qsid?>"><?=$value->qsname?></option>
                                          <?php } ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Question Level <span class="required">*</span></label>
                                        <div class="col-md-10">
                                        <select name="q_level"  class="form-control">
                                          <option value="">--Choose Question Level--</option>
                                          <option value="1">Easy</option>
                                          <option value="2">Medium</option>
                                          <option value="3">Hard</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Tags</label>
                                        <div class="col-md-10">
                                        <input class="form-control"  placeholder="Tags" type="text" name="tag">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-2 control-label">Keywords</label>
                                        <div class="col-md-10">
                                        <textarea class="form-control"  placeholder="Keywords" rows="3" name="keyword"  ></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-2 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-10">
                                          <select name="status"  class="form-control">
                                            <option value="">--Choose status--</option>
                                            <option value="1">Final</option>
                                            <option value="2">Complete</option>
                                            <option value="3">Error</option>
                                            <option value="4">Without Solution</option>
                                            <option value="5">Need Update</option>
                                            <option value="0">Unchecked</option>
                                          </select>
                                          <div class="status-info">
                                              <i class="fa fa-circle" style="color:#13FD13;"></i> Final | 
                                              <i class="fa fa-circle" style="color:#1FBBA6;"></i> Complete |
                                              <i class="fa fa-circle" style="color:#FE5454;"></i> Error |
                                              <i class="fa fa-circle" style="color:#67CBF5;"></i> Without Solution |
                                              <i class="fa fa-circle" style="color:#F37934;"></i> Need Update |
                                              <i class="fa fa-circle" style="color:#8E8989;"></i> Unchecked
                                          </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Question</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Question</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
