<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); 
$getVal=$this->request->get();
$cururl = explode("_url=/", urldecode(http_build_query($this->request->getQuery())));
$newurl = explode("&page", $cururl[1]);
?>

<section class="body">
  <?=UIElementsAdmin::getHeadnav($access_roles)?>
  <div class="inner-wrapper">
    <?=UIElementsAdmin::getSidebar($access_roles)?>
    <section role="main" class="content-body has-toolbar">
      <?=UIElementsAdmin::getBreadcrumds()?>
      <?php $this->flashSession->output() ?>

 <div class="inner-toolbar clearfix" style="overflow:visible;"> <!-- Toolbar Here -->
        <ul>
          <li class="right">
            <ul class="nav nav-pills nav-pills-primary">
              <li class="active">
                <a href="<?=BASEURL?>questionbank/addmmquestion">Add Match Making Questions</a>
              </li>
            </ul>
          </li>
        </ul>
      </div>
      <section class="panel course-body"> <!-- Second Panel -->
      <div class="ques-srch-con">
            <form class="" role="form">
            <div class="col-md-10">
            <div class="row">
            <div class="col-md-3">
                <div class="form-group">
                  <select class="form-control" id="subject" name="subject" required onchange="getnewsubsub(this.value);">
                  <option value="">--Select Subject--</option>
                  <?php foreach($subdet as $sub){?>
                    <option value="<?=$sub->id?>"><?=$sub->subjectname?></option>
                    <?php } ?>
                  </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <select class="form-control" id="subsubject" name="subsubject" required onchange="getnewtopics(this.value);">
                    <option value="">--Select Subsubject--</option>
                  </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <select class="form-control" id="topics" name="topic" required onchange="getnewsubtopic(this.value);">
                    <option value="">--Select Topic--</option>
                  </select>
                </div>
            </div>
            <div class="col-md-3">
                <div class="form-group">
                  <select class="form-control" id="subtopic" name="subtopic">
                    <option value="">--Select SubTopic--</option>
                  </select>
                </div>
            </div>
            </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                  <button type="submit" class="btn btn-default btn-block" name="search" value="1"><i class="fa fa-search"></i> Search</button>
                </div>
            </div>
          </form>
        </div>
        <header class="panel-heading">
          <div class="panel-actions">
            <a href="#" class="fa fa-caret-down"></a>
            <a href="#" class="fa fa-times"></a>
          </div>

          <h2 class="panel-title">Match Questions Details</h2>
        </header>
        <div class="panel-body">
          <table class="table table-bordered table-striped mb-none" id="datatable-default_old">
            <thead>
              <tr>
                <th>SL# &nbsp;</th>
                <th>Question</th>
                <th>Question Type</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody id="table-data">

              <?php 
              $limit=$mquestions->limit;
              $cur=(int)$mquestions->current * $limit;
              $start=(int)$cur-(int)$limit;
              $x=(int)$start+1;
              if (isset($mquestions) && count($mquestions)>0) {
                foreach ($mquestions->items as $mquestionsRes) {//print_r($mquestionsRes);
                  ?>
                  <tr>
                    <td><?=$x++?></td>
                    <td><?=ucwords($mquestionsRes['question'])?></td>
                    <td>
                      <?php 
                      foreach ($qtype as $qtyperes) {
                        if(3==$qtyperes->qtid){
                          echo $qtyperes->qtname;
                        }
                      }
                      ?>
                    </td>
                    <td>
                      <?php 
                      if ($mquestionsRes['status']==1) {
                        echo "<span class='badge qs-bg-1'>Final</span>";
                      }elseif($mquestionsRes['status']==2){
                        echo "<span class='badge qs-bg-2'>Complet</span>";
                      }elseif($mquestionsRes['status']==3){
                        echo "<span class='badge qs-bg-3'>Error</span>";
                      }elseif($mquestionsRes['status']==4){
                        echo "<span class='badge qs-bg-4'>Without Solution</span>";
                      }elseif($mquestionsRes['status']==5){
                        echo "<span class='badge qs-bg-5'>Need Update</span>";
                      }elseif($mquestionsRes['status']==0){
                        echo "<span class='badge qs-bg-0'>Unchecked</span>";
                      }
                      ?>
                    </td>
                    <td>
                      <!-- <i class="fa fa-desktop" title="Display" data-toggle="modal" data-target="#myModal<?php echo $questionsRes->sid?>" style="cursor:pointer;"></i> -->
                      <?php echo $this->tag->linkTo("questionbank/fullmatchquestion/".$mquestionsRes['qid'], "<i class='fa fa-desktop' title='Update Course'></i>") ?>
                      <?php echo $this->tag->linkTo("questionbank/updmmquestion/".$mquestionsRes['qid'], "<i class='fa fa-pencil' title='Update Course'></i>") ?>
                      <i class="fa fa-times" title='Delete Admin Users' data-toggle="modal" data-target="#delete<?php echo $questionsRes->qid?>" style="cursor:pointer;"></i>
                    </td>

                    <!-- Modal Start Here -->
                    <div id="delete<?php echo $questionsRes->qid?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                      <div class="modal-dialog">
                        <div class="modal-content">

                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                            <h4 class="modal-title" id="myModalLabel"><?php echo $questionsRes->question; ?></h4>
                          </div>
                          <div class="modal-body">
                            <div class="">
                              Do you want to delete this Question?
                            </div>

                          </div>
                          <div class="modal-footer">
                            <?php echo Phalcon\Tag::linkTo(array("questionbank/deletequestion/".$questionsRes->qid, 'Delete', 'class' => 'btn btn-danger'));?>

                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                          </div>

                        </div><!-- /.modal-content -->
                      </div><!-- /.modal-dialog -->
                    </div>

                  </tr>
                  <?php  
                }
              }
              ?>
            </tbody>
          </table>
          <div class="pull-right">
          <a href="<?= BASEURL ?><?php echo $newurl[0]; ?>">First</a>
           <a href="<?= BASEURL ?><?php echo $newurl[0]; ?>&page=<?= $mquestions->before; ?>"><button><</button></a>
           <a href="<?= BASEURL ?><?php echo $newurl[0]; ?>&page=<?= $mquestions->next; ?>"><button>></button></a>
           <a href="<?= BASEURL ?><?php echo $newurl[0]; ?>&page=<?= $mquestions->last; ?>">Last</a>
           <?php echo "You are in page ", $mquestions->current, " of ", $mquestions->total_pages; ?>
         </div>
         </div>
       </div><!--panel-body-->
     </section> <!-- Second Panel End -->

   </section><!--content -body-->
 </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->