<?php $auth = $this->session->get('authority');
//print_r($auth["type"]);
?>
				<a href="/beta/admin/index" class="logo">
					<img src="/beta/images/admin-logo.png" alt="User Image" />
				</a>
				
			    <nav class="navbar navbar-static-top" role="navigation">
                <!-- Sidebar toggle button-->
                <a href="#" class="navbar-btn sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                
                <div class="navbar-right">

                    <ul class="nav navbar-nav">
                        <!-- Messages: style can be found in dropdown.less-->
                        
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                                <i class="glyphicon glyphicon-user"></i>
                                <span><?php print_r(strtoupper($auth["name"]));?><i class="caret"></i></span>
                            </a>
                            <ul class="dropdown-menu">
                                <!-- User image -->
                                <li class="user-header bg-light-blue">
                                    <img src="/beta/images/user.png" class="img-circle" alt="User Image" />
                                    <p>
                                        <?php print_r(strtoupper($auth["name"]));?> 
                                        <small></small>
                                    </p>
                                </li>
                                <!-- Menu Body -->
                                
                                <!-- Menu Footer-->
                                <li class="user-footer">
                                    <div class="pull-left">
                                        <a data-toggle="modal" data-target="#profile" class="btn btn-success">Profile <span class="glyphicon glyphicon-user proile_icon" aria-hidden="true"></span></a>
                                    </div>
                                     <?php 
                    $user_prof = MasterAdminUsers::findFirst(array("uid" => $auth["id"]));
                    
                ?>
                                    <div class="pull-right">
                                        <?php echo Phalcon\Tag::linkTo(array('session/end', 'Sign Out <span class="glyphicon glyphicon-off log_out" aria-hidden="true"></span>', 'class' => 'btn btn-danger '));?>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                

                <div id="profile" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                          <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($user_prof->first_name." ".$user_prof->last_name); ?></h4>
                        </div>
                        <div class="modal-body">
                          <div class="col-md-12">
                              <div class="row">
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Name</label>
                                    <div class="col-sm-9">
                                        <?php echo ucwords($user_prof->first_name." ".$user_prof->last_name); ?>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Email ID </label>
                                    <div class="col-sm-9">
                                        <?php echo $user_prof->mail_id; ?>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Contact</label>
                                    <div class="col-sm-9">
                                        <?php echo $user_prof->contact_no; ?>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Status</label>
                                    <div class="col-sm-9">
                                       <?php if ($user_prof->is_active==1) {
                                                echo"<span class='badge bg-green'>Active</span>";
                                            }
                                            else
                                            {
                                                echo"<span class='badge bg-red'>Inactive</span>";   
                                            }
                                        ?>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                                <div class="form-group">
                                    <label for="inputEmail3" class="col-sm-3 control-label">Created Date</label>
                                    <div class="col-sm-9">
                                        <?php echo date('m-d-Y',strtotime($user_prof->created)) ; ?>
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                              </div>
                          </div>                                                     
                        </div>
                        <div class="modal-footer">
                          <?php echo Phalcon\Tag::linkTo(array("adminusers/update/".$user_prof->uid, 'Update', 'class' => 'btn btn-warning'));?>
                          
                          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                        </div>

                      </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div>
<style>
    .modal-backdrop.in 
    {
        z-index: 10;
    }
</style>
            </nav>