<?php

use Phalcon\Tag as Tag;

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("adm_login") ?>


<section class="col-md-4 col-md-offset-4">
	<?php echo Phalcon\Tag::form(array("admin/add", "method" => "post"));?>
		<div class="form-group">
			<label>name</label>
			<input type="text" class="form-control" name="name" >
		</div>
		<div class="form-group">
			<label>userid</label>
			<input type="text" class="form-control" name="userid" >
		</div>
		<div class="form-group">
			<label>email</label>
			<input type="text" class="form-control" name="email" >
		</div>
		<div class="form-group">
			<label>password</label>
			<input type="text" class="form-control" name="password" >
		</div>
		<div class="form-group">
			<button type="submit" class="btn btn-primary btn-lg pull-right">SUBMIT</button>
		</div>
	</form>
	<table class="table table-bordered">
		<thead>
			<th>
				<td>slno</td>
				<td>name</td>
				<td>uid</td>
				<td>email</td>
				<td>password</td>
			</th>
		</thead>
		<tbody>
			<?php $x=0; 
			foreach ($getdet as $getres) { $x=$x+1;
			 ?>
			<tr>
				<td><?=$x?></td>
				<td><?=$getres->name?></td>
				<td><?=$getres->userid?></td>
				<td><?=$getres->email?></td>
				<td><?=$getres->password?></td>
			</tr>
			<?php }?>
		</tbody>
	</table>
</section>
<?php echo UIElementsAdmin::getFooter("adm_login") ?>