<!-- sidebar: style can be found in sidebar.less -->
                <section class="sidebar">
                    <!-- Sidebar user panel -->
                    
                    <!-- search form -->
                    
                    <!-- /.search form -->
                    <!-- sidebar menu: : style can be found in sidebar.less -->
                    <ul class="sidebar-menu">
                        <li class="active">
                            <?php echo Phalcon\Tag::linkTo("admin/", "<i class='fa fa-dashboard'></i> <span>Dashboard</span>");?>
                            
                        </li>
                        
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-tags"></i>
                                <span>Pages</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><?php echo Phalcon\Tag::linkTo("pages/", "<i class='fa fa-angle-double-right'></i>Manage Pages");?> </li>
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-key"></i>
                                <span>Admin Users</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><?php echo Phalcon\Tag::linkTo("adminusers/", "<i class='fa fa-angle-double-right'></i>Manage Admin");?> </li>
                                <li><?php echo Phalcon\Tag::linkTo("adminusers/usertype", "<i class='fa fa-angle-double-right'></i>Manage Admin User Type");?> </li>
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-users"></i>
                                <span>Users</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><?php echo Phalcon\Tag::linkTo("users/", "<i class='fa fa-angle-double-right'></i>Manage Users");?> </li>
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-sitemap"></i>
                                <span>Category</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><?php echo Phalcon\Tag::linkTo("category/", "<i class='fa fa-angle-double-right'></i>Manage Category");?> </li>
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-bullhorn"></i>
                                <span>Site Advertise</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><?php echo Phalcon\Tag::linkTo("ad/", "<i class='fa fa-angle-double-right'></i>Advertise");?> </li>
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-cog"></i>
                                <span>Site Setting</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><?php echo Phalcon\Tag::linkTo("site/update/1", "<i class='fa fa-angle-double-right'></i>Site Setting");?> </li>
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-rocket"></i>
                                <span>Ad Posting</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><?php echo Phalcon\Tag::linkTo("adposting/index", "<i class='fa fa-angle-double-right'></i>Ad Posting List");?> </li>
                                <li><?php echo Phalcon\Tag::linkTo("adposting/promotead", "<i class='fa fa-angle-double-right'></i>Manage Promote Ads");?> </li>
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-link"></i>
                                <span>Social Media</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><?php echo Phalcon\Tag::linkTo("social/", "<i class='fa fa-angle-double-right'></i>Manage Social Media");?> </li>
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-puzzle-piece"></i>
                                <span>Ad Types</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><?php echo Phalcon\Tag::linkTo("adtype/", "<i class='fa fa-angle-double-right'></i>Manage Ad type");?> </li>
                                <li><?php echo Phalcon\Tag::linkTo("adtype/promoteplan", "<i class='fa fa-angle-double-right'></i>Manage promote plan");?> </li>
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-star"></i>
                                <span>Membership Package</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><?php echo Phalcon\Tag::linkTo("membership/", "<i class='fa fa-angle-double-right'></i>Membership Package");?> </li>
                                
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-th-list"></i>
                                <span>Blog</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><?php echo Phalcon\Tag::linkTo("blog/", "<i class='fa fa-angle-double-right'></i>Manage Blog ");?> </li>
                                
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-map-marker"></i>
                                <span>Location</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><?php echo Phalcon\Tag::linkTo("location/", "<i class='fa fa-angle-double-right'></i>Manage Location ");?> </li>
                                <li><?php echo Phalcon\Tag::linkTo("location/add", "<i class='fa fa-angle-double-right'></i>Add Location ");?> </li>
                                
                                
                            </ul>
                        </li>
                        <li class="treeview">
                            <a href="#">
                                <i class="fa fa-tags"></i>
                                <span>Newsletter</span>
                                <i class="fa fa-angle-left pull-right"></i>
                            </a>
                            <ul class="treeview-menu">
                                <li><?php echo Phalcon\Tag::linkTo("newsletter/", "<i class='fa fa-angle-double-right'></i>Manage Subscriber ");?> </li>
                                 <li><?php echo Phalcon\Tag::linkTo("newsletter/composelist", "<i class='fa fa-angle-double-right'></i>Compose Mail");?> </li>
                                <li><?php echo Phalcon\Tag::linkTo("newsletter/mailtosubscriber", "<i class='fa fa-angle-double-right'></i>Send Mail");?> </li>
                            </ul>
                        </li>
                        <li>
                        <?php echo Phalcon\Tag::linkTo("news/", "<i class='fa fa-th-list'></i>Manage News ");?>
                   	 	</li>
                        
                      
                        
                    </ul>
                </section>
                <!-- /.sidebar -->