<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">
<?= UIElementsAdmin::getHeadnav($access_roles) ?>

    <div class="inner-wrapper">

<?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body">
        <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php $this->flashSession->output() ?>
            <?php
            $auth = $this->session->get('authority');
            //print_r();
            ?>
            <!-- Start Page -->
            <section class="panel">
                <div class="panel-heading">Manage Terms & Conditions</div>
                <div class="panel-body">
                    <form class="form-horizontal form-bordered" action="<?=BASEURL?>sitesetting/addterm" method="post">
                        <div class="form-group">
                            <div class="col-md-12">
                                <textarea class="form-control" placeholder="Text Editor" rows="12" name="tips_name_new"><?=$mqus->description?></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                        <?php if(!empty($mqus)){ ?>
                                            <input type="hidden" id="id" name="id" value="<?=$mqus->id?>">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right"  >Update</button>
                                        <?php }else{ ?>
                                        <button type="submit" class="btn btn-success hidden-xs pull-right"  >Add</button>
                                        <?php } ?>
                                        </div>
                        </div>
                    </form>                       
                </div>
            </section>
            <!-- End Page Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script type="text/javascript">
    CKEDITOR.replace( 'tips_name_new',
    {  
    });
</script>
