<?php
/*
 * To change this template, choose Tools | Templates
 * and open the template in the editor.
 */
?>
<table class="table table-bordered table-striped mb-none" >
    <thead>
        <tr>
            <th>SL# &nbsp;</th>
            <th>Question</th>
            <th>Question Type</th>
            <th style="width:150px;">Action</th>
        </tr>
    </thead>
    <tbody id="table-data">
        <?php
        $qtype = ["1" => "Single Type", "2" => "Multiple Type Question", "3" => "Match Type Question", "4" => "Numerical Type", "5" => "Paragraphs", "6" => "Theory Question", "7" => "Reason Assertion", "8" => "Subjective Question"];
        $x = 1;
        if (isset($question) && count($question) > 0) {
            foreach ($question as $questionRes) {
                if ($questionRes->tableid == 1) {
                    $ques = MasterQuestionBank::findFirst(array("questionid='" . $questionRes->questionid . "'"));
                } elseif ($questionRes->tableid == 2) {
                    $ques = MasterMatchQuestion::findFirst(array("questionid='" . $questionRes->questionid . "'"));
                } elseif ($questionRes->tableid == 3) {
                    $ques = MasterNumericQuestion::findFirst(array("questionid='" . $questionRes->questionid . "'"));
                } elseif ($questionRes->tableid == 4) {
                    $ques = MasterParaQuestion::findFirst(array("questionid='" . $questionRes->questionid . "'"));
                } elseif ($questionRes->tableid == 5) {
                    $ques = MasterReasonQuestion::findFirst(array("questionid='" . $questionRes->questionid . "'"));
                }
                if (isset($ques) && count($ques) > 0) {
                    $et = json_decode($ques->e_type);
                    ?>
                    <tr>
                        <td><?= $questionRes->questionid ?></td>
                        <td><?= stripslashes(ucwords($ques->question)) ?></td>
                        <td>
                            <?php
                            echo $qtype[$questionRes->q_type];
                            ?>
                        </td>
                        <td>
                            <button class="btn btn-primary" onclick="selectqid('<?= $questionRes->questionid ?>')">Add</button>
                        </td>
                    </tr>
                    <?php
                }
            }
        }
        ?>
    </tbody>
</table>