<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">

    <?= UIElementsAdmin::getHeadnav($access_roles) ?>

    <div class="inner-wrapper">

        <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body has-toolbar">
            <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php $this->flashSession->output() ?>
            <div class="inner-toolbar clearfix"> <!-- Toolbar Here -->
                <ul>
                    <li class="right">
                        <span>
                            <a href="<?= BASEURL ?>sitesetting/adddetails" class="btn btn-success">
                                <i class="fa fa-plus-circle" aria-hidden="true"></i> Add
                            </a>
                        </span>
                    </li>
                </ul>
            </div>
            <section class="panel">
                <header class="panel-heading">
                    <h2 class="panel-title">Course Feature Details</h2>
                </header>
                <div class="panel-body">
                    <table class="table table-bordered table-striped mb-none" id="datatable-default">
                        <thead>
                            <tr>
                                <th>SL# &nbsp;</th>
                                <th>Course Name</th>
                                <th>Question</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php $x = 1;
                            foreach ($cat as $val) { ?>
                                <tr>
                                    <td><?php echo $x ?></td>
                                    <td><?php echo $stanes[$val->course] ?></td>
                                    <td><?php echo $val->question; ?></td>
                                    <td>
                                        <?php
                                        if ($val->status == 1) {
                                            echo $this->tag->linkTo("sitesetting/detailsstatus/2/" . $val->id, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>");
                                        } else {
                                            echo $this->tag->linkTo("sitesetting/detailsstatus/1/" . $val->id, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>");
                                        }
                                        ?>
                                    </td>
                                    <td>			                                    	
                                        <?php echo $this->tag->linkTo("sitesetting/adddetails/" . $val->id, "<i class='fa fa-pencil' title='Update Details'></i>") ?>
                                        <i class="fa fa-times" title='Delete Details' data-toggle="modal" data-target="#delete<?php echo $val->id ?>" style="cursor:pointer;"></i>

                                    </td>
                            <div id="delete<?php echo $val->id ?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                <div class="modal-dialog">
                                    <div class="modal-content">

                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                            <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($val->question); ?></h4>
                                        </div>
                                        <div class="modal-body">
                                            <div class="">
                                                Do you want to delete this ?
                                            </div>

                                        </div>
                                        <div class="modal-footer">
                                            <?php echo Phalcon\Tag::linkTo(array("sitesetting/deletequesans/" . $val->id, 'Delete', 'class' => 'btn btn-danger')); ?>

                                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                        </div>

                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                            </tr>
                            <?php
                            $x++;
                        }
                        unset($x);
                        ?>
                        </tbody>
                    </table>
                </div><!--panel-body-->
            </section>
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->
