<?php
$title=urlencode('Let your brain do the talking! More than 20,000 questions here!');
$url=urlencode(BASEURL.'index/quiz/');
$summary=urlencode('Let your brain do the talking! More than 20,000 questions here!');
$image=urlencode(BASEURL.'frontend/img/logo.png');
echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">
<script>
function addpoint(id){
    var point = $("#wallet"+id).val();
    $.ajax({
        type: 'POST',
        url: '<?php echo BASEURL; ?>users/points',
        data: 'id='+id+'&point='+point,
        success: function(data){
            if(data){
                $("#wallet"+id).val('');
                alert(data);
            }
        }
    });
}
</script>
    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>
                <?php 
                    $auth = $this->session->get('authority');
                    //print_r();
                 ?>
                <!-- Start Page -->
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <h2 class="panel-title">View Quiz Question</h2>
                    </header>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped mb-none" id="datatable-default">
                            <thead>
                                <tr>
                                    <th>SL# &nbsp;</th>
                                    <th>Course</th>
                                    <th>Starting to Ending Date</th>
                                    <th>Question ID</th>
                                    <th>Action   |    <a onClick="window.open('http://www.facebook.com/sharer.php?s=100&amp;p[title]=<?php echo $title;?>&amp;p[summary]=<?php echo $summary;?>&amp;p[url]=<?php echo $url; ?>&amp;&p[images][0]=<?php echo $image;?>', 'sharer', 'toolbar=0,status=0,width=548,height=325');" target="_parent" href="javascript: void(0)">
                	Share On Facebook!
                </a></th>
                                </tr>
                            </thead>
                            <tbody>
                            <?php
                            $x=1; $slno=0;
                            foreach ($mqus as $key ) {$slno++ ; ?>

                                <tr class="gradeX">
                                    <td><?php echo $x++; ?></td>
                                    <td><?=$course[$key->course]?></td>
                                    <td><?=$key->start_date?> - <?=$key->end_date?></td>
                                    <td>
                                        <?php
                                            $qval = json_decode($key->questionid);
                                            foreach ($qval as $keys => $qvalue) {
                                                echo $qvalue.'<br>';
                                            }
                                        ?>
                                    </td>
                                    <td>
                                        <a href="<?=BASEURL?>sitesetting/viewqqus/<?=$key->quiz_id?>">View Detail</a> | 
                                        <a href="<?=BASEURL?>sitesetting/deleteqod/<?=$key->quiz_id?>">Delete</a>
                                    </td>
                                  </div>
                                </tr>
                             <?php } ?>
                            </tbody>
                        </table>
                    </div>
                </section>

        <!-- End Page Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("tables"); ?>