<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">

<?= UIElementsAdmin::getHeadnav($access_roles) ?>

    <div class="inner-wrapper">

<?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body has-toolbar">
        <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php $this->flashSession->output() ?>

            <!-- Start Page Here -->
            <div class="inner-toolbar clearfix" style="overflow:visible;"> <!-- Toolbar Here -->
                <ul>

                    <li class="right">
                        <ul class="nav nav-pills nav-pills-primary">
                            <li class="active">
                                <a href="<?= BASEURL ?>course/addpracticepackage">Add Packages</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <section class="panel">

                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Package Details</h2>
                </header>
                <div class="panel-body">
                    <table class="table table-bordered table-striped mb-none" id="datatable-default">
                        <thead>
                            <tr>
                                <th>SL# &nbsp;</th>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Price</th>
                                <th>Validity</th>
                                <th>Course</th>
                                <th>Topics</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
<?php $x = 1;
foreach ($package as $val) { ?>
                                <tr>
                                    <td><?php echo $x ?></td>
                                    <td><?php echo $val->name ?></td>
                                    <td><?php echo $val->description ?></td>
                                    <td><?php echo $val->price ?></td>
                                    <td><?php echo $val->validity ?></td>
                                    <td><?php echo $course[$val->course]; ?></td>
                                    <td><small><?php $aall=json_decode($val->topic);
                                    foreach($aall as $vaa){ echo "<span class='badge'>".$topics[$vaa->id]."</span>";} ?></small></td>
                                    <td>
                                        <?php
                                        if ($val->status == 1) {
                                            echo $this->tag->linkTo("course/prpackageupdstatus/2/" . $val->id, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>");
                                        } else {
                                            echo $this->tag->linkTo("course/prpackageupdstatus/1/" . $val->id, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>");
                                        }
                                        ?>
                                    </td>
                                    <td>
                                        <?php echo $this->tag->linkTo("course/updatepracticepackage/" . $val->id, "<i class='fa fa-pencil' title='Update Course'></i>") ?>
                                    </td>
                                </tr>
    <?php
    $x++;
}
unset($x);
?>
                            </tbody>
                    </table>
                </div><!--panel-body-->
            </section>





        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->