<tbody>
    <tr>
        <td style="padding:40px 0  0 0;">
            <p style="color:#000;font-size: 16px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;font-weight:normal;">

            <h2 style="font-size: 14px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Dear User !</h2>
            <?php if($status==1){?>
            <p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Your friend  <?= $sendername ?>, has been challenged a question to solve .To view the question please click the below link. 
                <?php }else{ ?>
              <p style="font-size: 13px;line-height:24px;font-family:'HelveticaNeue','Helvetica Neue',Helvetica,Arial,sans-serif;">Your friend  <?= $sendername ?>, has been invited you to join Ischool4u .To join click the below link.        
               <?php  } ?>
                <br>
                <br>
                <a style="background:#E86537;color:#fff;padding:10px" href="<?= $publicUrl ?><?= $confirmUrl?>">Click here</a>
                <br>
                <br>  Thanks ,
		<br>  Ischoo4u
                <br>
            </p>
        </td>
    </tr>
</tbody>

