<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
$sup_cat = $user_session['sup_cat'];
$exam_id = MasterExamType::findFirst(array("exam_type='1' AND sup_cat='".$sup_cat."'"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('sid'=>$exam_id->etid,'id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();?>
<?php
  $getVal=$this->request->get();
  $url = preg_replace('/^\//', '', $getVal['_url']);
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds('','',$this->session->get("course_name"))?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2>Wallet</h2>
                </div>
            </div>

            <div class="row">                       
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-12 col-xl-6">
                            <section class="panel topicwise-test wallet-cust">
                                <div class="panel-body" style="cursor:default;">
                                    <div class="widget-summary widget-summary-md">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-primary">
                                                <i class="fa fa-usd"></i>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">
                                                <h4 class="title">Your Wallet have</h4>
                                                <div class="info">
                                                    <strong class="amount text-primary">Rs. <?php echo $points->points;?> </strong> 
                                                </div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </section>
                        <div class="row">
							<div class="col-md-12">
								<section class="panel collapse-tbl-con">
									<header class="panel-heading">
										<div class="panel-actions">
											<a href="#" class="fa fa-caret-down"></a>
										</div>
										<h2 class="panel-title">Package Purchase</h2>
									</header>
									<div class="panel-body">
										<div class="table-responsive">
                                <table class="table mb-none">
                                    <tr>
                                        <th>Sl. No.</th>
                                        <th>Package</th>
                                        <th>Description</th>
                                        <th>Price</th>
                                        <th>No. Test</th>
                                    </tr>
                                    <tbody>
                                <?php $i=1;foreach($package as $pval): ?>
                                    <tr class="tbl-hover-styles">
                                        <td style="padding-left: 15px;"><span class="badge bg-default"><?php echo $i;?></span></td>
                                        <td><?=$pval->name?></td>
                                        <td><?=$pval->desc?></td>
                                        <td><span class="label"><?=$pval->price?></span></td>
                                        <td>
                                            <?php if($mupval[$pval->id]['test_type']!=4):?>
                                                <?=$mupval[$pval->id]['not']?>
                                            <?php endif; ?>
                                        </td>
                                    </tr>
                                <?php $i++;endforeach; ?>
                                <?php foreach($prcpackage as $ppac): ?>
                                    <tr class="tbl-hover-styles">
                                        <td style="padding-left: 15px;"><span class="badge bg-default"><?php echo $i;?></span></td>
                                        <td><?=$ppac->name?></td>
                                        <td><?=$ppac->description?></td>
                                        <td><span class="label"><?=$ppac->price?></span></td>
                                        <td>
                                            N/A
                                        </td>
                                    </tr>
                                <?php $i++;endforeach; ?>
                                    </tbody>
                                </table>
										</div>
									</div>
								</section>
							</div>
						</div><!--row--> 
                        <div class="row">
							<div class="col-md-12">
								<section class="panel collapse-tbl-con">
									<header class="panel-heading">
										<div class="panel-actions">
											<a href="#" class="fa fa-caret-down"></a>
										</div>
										<h2 class="panel-title">Points Used</h2>
									</header>
									<div class="panel-body collapse-tbl2">
										<div class="table-responsive">
                                    <?php
                                    $testtype = ["Subject Wise","Topic Wise","Unit Wise","Fixed Test","Full Syllabus"];
                                    foreach($testtype as $key=>$tval){ ?>
                                    <h3><i class="fa fa-list" aria-hidden="true"></i> <?php echo $tval;?></h3>
                                        <table class="table mb-one">
                                            <tr style="background: #EEEDFD;">
                                                <th width="100">Exam id</th>
                                                <th width="100"><?=$tval?></th>
                                                <th width="100">Date & Time</th>
                                            </tr>
                                        <?php
                                        $j=0;
                                        foreach($mr as $mrval){
                                            if($mrval->test_type==$key){ ?>
                                                <tr class="tbl-hover-styles">
                                                    <td><span class="label"><?=$mrval->id?></span></td>
                                                    <td><?=$mrval->test_on?></td>
                                                    <td><?php if($mrval->date){ echo date("d-m-y h:i A",strtotime($mrval->date)); }else{ echo "N/A";}?></td>
                                                </tr>
                                            <?php $j++; }
                                        }
                                         if($j==0){  echo '<tr><td colspan="3" class="wallet-nodata">No Data Found :(</td></tr>';}
                                        echo '</table>';
                                    }
                                    ?>
										</div>
									</div>
								</section>
							</div>
						</div><!--row--> 
                            
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script>
    function submitform(){
      document.getElementById("packages").submit();
    }
</script>