<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="body">
<script>
function addpoint(id){
    var point = $("#wallet"+id).val();
    $.ajax({
        type: 'POST',
        url: '<?php echo BASEURL; ?>users/points',
        data: 'id='+id+'&point='+point,
        success: function(data){
            if(data){
                $("#wallet"+id).val('');
                alert(data);
            }
        }
    });
}
</script>
    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>
                
                

                <?php 
                    $auth = $this->session->get('authority');
                    //print_r();
                 ?>
            
                <!-- Start Page -->
                <section class="panel">
                    <header class="panel-heading">
                        <div class="panel-actions">
                            <a href="#" class="fa fa-caret-down"></a>
                            <a href="#" class="fa fa-times"></a>
                        </div>
                        <h2 class="panel-title">User Package</h2>
                    </header>
                    <div class="panel-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                Wallet Have : <?=$points->points?> points
                            </div>
                        </div>
                        <div class="panel panel-default">
                                <div class="panel-heading">Package Purchase</div>
                                <div class="panel-body">
                                <table class="table table-bordered">
                                    <tr>
                                        <th>Sl. No.</th>
                                        <th>Package</th>
                                        <th>Description</th>
                                        <th>Point</th>
                                        <th>No. Test</th>
                                    </tr>
                                    <tbody>
                                <?php foreach($package as $pval): ?>
                                    <tr>
                                        <td>1</td>
                                        <td><?=$pval->name?></td>
                                        <td><?=$pval->desc?></td>
                                        <td><?=$pval->price?></td>
                                        <td>
                                            <?php if($mupval[$pval->id]['test_type']!=4):?>
                                                <?=$mupval[$pval->id]['not']?>
                                            <?php endif; ?>
                                        </td>
                                    </tr>
                                <?php endforeach; ?>
                                    </tbody>
                                </table>
                                </div>
                            </div>
                        <?php
                            $testtype = ["Subject Wise","Topic Wise","Unit Wise","Fixed Test","Full Syllabus"];
                            foreach($testtype as $key=>$tval){ ?>
                                <table class="table table-bordered">
                                    <tr>
                                        <th width="100">Exam id</th>
                                        <th width='100'><?=$tval?></th>
                                        <th width="100">Date & Time</th>
                                    </tr>
                                <?php
                                foreach($mr as $mrval){
                                    if($mrval->test_type==$key){ ?>
                                        <tr>
                                            <td><?=$mrval->id?></td>
                                            <td><?=$mrval->test_on?></td>
                                            <td><?php if($mrval->date){echo date("d-m-y h:i A",strtotime($mrval->date));}else{echo "N/A";}?></td>
                                        </tr>
                                    <?php }
                                }
                                echo '</table>';
                            }
                            
                            ?>
                    </div>
                </section>

        <!-- End Page Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("tables"); ?>