<?php
$str="<option value=''>-- Choose Subject --</option>";
foreach($subdet as $res){ 
       $str.='<option value="'.$res->id.'">'.$res->subjectname.'</option>';
         }
echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

                <div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                </div>
                                <h2 class="panel-title">Add Admin</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>adminusers/add" method="post" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputEmail1">Role</label>
                                            <div class="col-md-6">
                                                <select name="type" id="" required class="form-control" onchange="showdata(this.value);">
                                                    <option value="">-- Choose a Role --</option>
                                                    <?php
                                                        foreach($roles as $role){
                                                            echo "<option value='".$role->id."'>".$role->role_name."</option>";
                                                        }
                                                    ?>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="form-group" id="appenddata" style="display:none;">
                                    <div class="col-md-6 col-md-offset-3">
                                        <div class="row">
                                            <div class="col-md-4">Subject</div>
                                            <div class="col-md-4">Sub-subject</div>
                                            <div class="col-md-4">Topic</div>
                                        </div>
                                    </div>
                                    <div class="test1">
                                            <div class="col-md-6 col-md-offset-3">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <select name="subject[]" id="sub1"class="form-control"  onchange="getsubsubject(this.value,1);">
                                                       <?=$str?>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select name="subsubject[]" id="subsub1" class="form-control" onchange="gettopics(this.value,1);">
                                                        <option value="">-- Choose Subsubject --</option>
                                                    </select>
                                                </div>
                                                <div class="col-md-4">
                                                    <select name="topic[]" id="topc1" class="form-control">
                                                        <option value="">-- Choose Topics --</option>
                                                    </select>
                                                </div>
                                                </div>
                                            </div>
                                            <div class="col-md-3">
                                                <div class="row text-left add-text-field" style="margin-top: -30px;">
                                                    <a href="#" onclick="addmorerow();"><i class="fa fa-plus-square text-success" aria-hidden="true"></i></a>
                                                    <a href="#" onclick="removerow(1);"><i class="fa fa-minus-square text-danger" aria-hidden="true"></i></a>
                                                </div>
                                            </div>
                                            </div>
                                    </div>

                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputEmail1">First Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputEmail1" placeholder="Enter First Name" type="text" name="first_name"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Last Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Enter Last Name" type="text" name="last_name" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Mail-ID</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Enter Mail-ID" type="email" name="mail_id" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Password</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="****PASSWORD****" type="text" name="pass"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Contact No</label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Enter Contact No" type="number" name="contact_no"  required>
                                        </div>
                                    </div>
                                    <div id="auth" style="display: none;">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="exampleInputPassword1">Education</label>
                                            <div class="col-md-6">
                                                <input class="form-control author" id="exampleInputPassword1" placeholder="****Enter highest education****" type="text" name="education">
                                            </div>
                                        </div>
                                          <div class="form-group">
                                            <label class="col-md-3 control-label" for="exampleInputPassword1">Profession</label>
                                            <div class="col-md-6">
                                                <input class="form-control author" id="exampleInputPassword1" placeholder="****Enter Profession ****" type="text" name="profession">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="exampleInputPassword1">Currently Working</label>
                                            <div class="col-md-6">
                                                <input class="form-control author" id="exampleInputPassword1" placeholder="****Currently Working at ****" type="text" name="currently_working">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label" for="exampleInputPassword1">Profile Image</label>
                                            <div class="col-md-6">
                                                <input class="form-control author" id="exampleInputPassword1"  type="file" name="profile_image" onChange="ValidateSingleInput(this);">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label" for="exampleInputPassword1">Status</label>
                                        <div class="col-md-6">
                                        <select name="is_active" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>   
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group text-center">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs">Add Admin</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Admin</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section>
    </div>
</section>
<?php echo UIElementsAdmin::getFooter("adminusers"); ?>
<script>
function showdata(chk){
    if(chk==1){
        $("#auth").removeAttr("style");
        $(".author").attr("required","required");
        $("#appenddata").css("display","none");
    }else{
        $.ajax({
                   type: 'POST',
                   url: '<?php echo BASEURL;?>adminusers/checkverify',
                   data: 'id='+chk,
                  success: function(data){
                     if(data==1){
                        $("#appenddata").css("display","block");
                     }else{
                        $("#appenddata").css("display","none");
                     }
                     $(".author").removeAttr("required");
                     $("#auth").attr("style","display:none");
                  }
                 });
        
    }
}
function ValidateSingleInput(oInput) {
        var _validFileExtensions = [".jpg", ".jpeg", ".bmp", ".gif", ".png"];
        if (oInput.type == "file") {
            var sFileName = oInput.value;
            if (sFileName.length > 0) {
                var blnValid = false;
                for (var j = 0; j < _validFileExtensions.length; j++) {
                    var sCurExtension = _validFileExtensions[j];
                    if (sFileName.substr(sFileName.length - sCurExtension.length, sCurExtension.length).toLowerCase() == sCurExtension.toLowerCase()) {
                        blnValid = true;
                        break;
                    }
                }
             
                if (!blnValid) {
                    alert("Sorry, " + sFileName + " is invalid, allowed extensions are: " + _validFileExtensions.join(", "));
                    oInput.value = "";
                    return false;
                }
            }
        }
        return true;
    }
    function addmorerow(){
         $.ajax({
                   type: 'POST',
                   url: '<?php echo BASEURL;?>adminusers/addmore',
                   data: '',
                  success: function(data){
                     if(data){
                        $("#appenddata").append(data);
                    }
                  }
                 });
    }
    function getsubsubject(subid,id){
                 $.ajax({
                   type: 'POST',
                   url: '<?php echo BASEURL;?>questionbank/getsubsubject',
                   data: 'subjectid='+subid,
                  success: function(data){
                     if(data){
                       $("#subsub"+id).html(data);
                      $("#topc"+id).html("<option>--Select Topics--</option>");
                    }
                  }
                 });
              }
              function gettopics(ssubid,id){
                var subid = $( "#sub"+id).val();
                $.ajax({
                  type: 'POST',
                  url: '<?php echo BASEURL;?>questionbank/gettopics',
                  data: {subjectid:subid,ssubid:ssubid},
                  success: function(data){
                    if(data){
                      $("#topc"+id).html(data);
                    }
                  }
                });
              }
    function removerow(id){
        $(".test"+id).remove();
    }
</script>