<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("adminusers"); ?>
<section class="body">

    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?> 
            
            <div class="inner-toolbar clearfix"> <!-- Toolbar Here -->
                <ul>
                  <li class="right">
                    <ul class="nav nav-pills nav-pills-primary">
                      <li class="active">
                        <a href="<?=BASEURL?>adminusers/add">Add Admin</a>
                      </li>
                    </ul>
                  </li>
                </ul>
            </div>

            <section class="panel">

                <header class="panel-heading">
                    <div class="panel-actions">
                        
                    </div>
            
                    <h2 class="panel-title">Admin Details</h2>
                </header>
                    <div class="panel-body">
                        <table class="table table-bordered table-striped mb-none" id="datatable-default">
                            <thead>
                                <tr>
                                    <th>SL# &nbsp;</th>
                                    <th>First Name</th>
                                    <th>Email - ID</th>
                                    <th>Contact No</th>
                                    <th>Status</th>
                                    <th>Created</th>
                                    <th>Last Modified</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                    <?php 
                                        $x=1;
                                        foreach ($user as $key ) {
                                        ?>
                                        <tr class="gradeX">
                                            <td><?php echo $x++; ?></td>
                                            <td style="text-align:center;">
                                                <?php echo ucwords($key->first_name)." ".ucwords($key->last_name); ?>
                                            </td>
                                            <td style="text-align:center;"><?php echo $key->mail_id; ?></td>
                                            <td><?php echo $key->contact_no; ?></td>
                                            <td>
                                                <?php 
                                                    if ($key->is_active==1) {
                                                        echo $this->tag->linkTo("adminusers/updstatus/2/".$key->aid, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                                    }
                                                    else
                                                    {
                                                        echo $this->tag->linkTo("adminusers/updstatus/1/".$key->aid, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>") ;  
                                                    }
                                                ?>
                                            </td>
                                            <td><?php echo date('m-d-Y',strtotime($key->created)) ; ?></td>
                                            <td>
                                                <?php
                                                if (!$key->modfied) {
                                                    echo "....";
                                                }
                                                else
                                                {

                                                 echo date('m-d-Y',strtotime($key->modfied)) ; 
                                                }
                                                ?>
                                            </td>
                                            <td>
                                                <div class="col-md-4">
                                                    <button class="btn btn-xs btn-primary" data-toggle="modal" data-target="#myModal<?php echo $key->aid?>" title="View Details">
                                                        <i class="fa  fa-external-link"></i>
                                                    </button>
                                                </div>
                                                <div class="col-md-4">
                                                    <?php echo $this->tag->linkTo("adminusers/update/".$key->aid, "<button class='btn btn-xs btn-success' title='Update Users'><i class='fa fa-edit' ></i></button>") ?>
                                                </div>
                                                <div class="col-md-4">
                                                    <?php 
                                                        if (isset($auth["id"]) && $auth["id"]==$key->aid) {
                                                            echo "<i class='fa fa-trash-o times_dbl' title='Delete Category' style='cursor:pointer;'></i>";
                                                        }
                                                        else
                                                        {?>
                                                            <button class='btn btn-xs btn-warning' title='Delete Admin Users' data-toggle="modal" data-target="#delete<?php echo $key->aid?>">
                                                                <i class="fa fa-trash-o"></i>
                                                            </button>
                                                            <?php
                                                        }
                                                    ?>
                                                </div>                                               
                                            </td>                                            
                                            <div id="delete<?php echo $key->aid?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">

                                                    <div class="modal-header bg-danger">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($key->first_name." ".$key->last_name); ?></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="">
                                                          Do you want to delete this user?
                                                      </div>
                                                      
                                                    </div>
                                                    <div class="modal-footer">
                                                      <?php echo Phalcon\Tag::linkTo(array("adminusers/delete/".$key->aid, 'Delete', 'class' => 'btn btn-danger'));?>
                                                      
                                                      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    </div>

                                                  </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                              </div>

                                            <div id="myModal<?php echo $key->aid?>" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">

                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel">User Details</h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="">
                                                          <div class="row">
                                                            <div class="form-group">
                                                                <label for="inputEmail3" class="col-sm-3 control-label">Name</label>
                                                                <div class="col-sm-9">
                                                                    <?php echo ucwords($key->first_name." ".$key->last_name);?>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label for="inputEmail3" class="col-sm-3 control-label">Email </label>
                                                                <div class="col-sm-9">
                                                                    <?php echo $key->mail_id; ?>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label for="inputEmail3" class="col-sm-3 control-label">Contact No</label>
                                                                <div class="col-sm-9">
                                                                    <?php echo $key->contact_no; ?>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label for="inputEmail3" class="col-sm-3 control-label">Status</label>
                                                                <div class="col-sm-9">
                                                                   <?php if ($key->is_active==1) {
                                                                            echo"<span class='badge bg-green'>Active</span>";
                                                                        }
                                                                        else
                                                                        {
                                                                            echo"<span class='badge bg-red'>Inactive</span>";   
                                                                        }
                                                                    ?>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label for="inputEmail3" class="col-sm-3 control-label">Created Date</label>
                                                                <div class="col-sm-9">
                                                                    <?php echo date('m-d-Y',strtotime($key->created)) ; ?>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                            <div class="form-group">
                                                                <label for="inputEmail3" class="col-sm-3 control-label">LastModified Date</label>
                                                                <div class="col-sm-9">
                                                                    <?php
                                                if (!$key->modfied) {
                                                    echo "....";
                                                }
                                                else
                                                {

                                                 echo date('m-d-Y',strtotime($key->modfied)) ; 
                                                }
                                                ?>
                                                                </div>
                                                            </div>
                                                            <div class="clearfix"></div>
                                                          </div>
                                                      </div>
                                                      
                                                    </div>
                                                    <div class="modal-footer">
                                                      <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                                    </div>

                                                  </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                              </div>
                                        </tr>
                                        <?php
                                        }?>
                                    </tbody>
                                </table>
                            </div>
            </section>
        </section>
    </div>

</section>
<?php echo UIElementsAdmin::getFooter("adminusers"); ?>