<?php

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>

<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

              <!-- Start Page Here -->
              <div class="inner-toolbar clearfix" style="overflow:visible;"> <!-- Toolbar Here -->
                <ul>
                  <li class="right">
                    <ul class="nav nav-pills nav-pills-primary">
                      <li class="active">
                        <button class="btn btn-primary" title='Add Social Links' data-toggle="modal" data-target="#addlink">Add Links</button>
                      </li>
                    </ul>
                  </li>
                </ul>
              </div>
              <div id="addlink" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                  <div class="modal-dialog">
                  <form class="form-horizontal form-bordered" action="<?=BASEURL?>socialmedia/add" method="post">
                    <div class="modal-content">
                    
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                        <h4 class="modal-title" id="myModalLabel">Add New Social Media Link</h4>
                      </div>
                      <div class="modal-body">
                        <div class="">
                            <div class="form-group">
                                 <label class="col-md-4 control-label">Social Name <span class="required">*</span></label>
                                <div class="col-md-6">
                                <input class="form-control" id="ssname"  placeholder="Enter Social Name" type="text" name="smname" value="<?=$this->request->getPost("ssname")?>" required>
                                </div>
                            </div>
                            <div class="form-group">
                                 <label class="col-md-4 control-label"> Social Link <span class="required">*</span></label>
                                <div class="col-md-6">
                                <input class="form-control" id="ssname" placeholder="Enter Social Link" type="text" name="smlink" value="<?=$this->request->getPost("ssname")?>" required>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">Status <span class="required">*</span></label>
                                    <div class="col-lg-6">
                                        <select name="status" required class="form-control" >
                                          <option value="">--Choose status--</option>
                                          <option value="1" >Active</option>   
                                          <option value="0" >Inactive</option>          
                                        </select>
                                    </div>
                            </div>
                            </div>
                      </div>
                      <div class="modal-footer">
                       <button type="submit" class="btn btn-primary submit">Submit</button>
                      </div>
                      
                      </div><!-- /.modal-content -->
                      </form>
                  </div><!-- /.modal-dialog -->
                </div>

              <section class="panel course-body"> <!-- Second Panel -->
                      <header class="panel-heading">
                          <div class="panel-actions">
                              <a href="#" class="fa fa-caret-down"></a>
                              <a href="#" class="fa fa-times"></a>
                          </div>
                  
                          <h2 class="panel-title">Social Media Links</h2>
                      </header>
                          <div class="panel-body">
                              <table class="table table-bordered table-striped mb-none" id="datatable-default">
                                  <thead>
                                      <tr>
                                          <th>SL# &nbsp;</th>
                                          <th>Social Name</th>
                                          <th>Social Link</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody id="table-data">

                                    <?php 
                                    $x=1;
                                    foreach ($social as $value) {
                                    ?>
                                      <tr>
                                        <td><?=$x++?></td>
                                        <td><?=$value->smname?></td>
                                        <td><?=$value->smlink?></td>
                                        <td>
                                          <?php 
                                            if ($value->status==1) {
                                                echo $this->tag->linkTo("socialmedia/update_status/2/".$value->smid, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                            }else{
                                                echo $this->tag->linkTo("socialmedia/update_status/1/".$value->smid, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>");
                                            }
                                        ?>
                                        </td>
                                        <td>
                                          <?php echo $this->tag->linkTo("socialmedia/update/".$value->smid, "<i class='fa fa-pencil' title='Update Social'></i>") ?>
                                          <i class="fa fa-times" title='Delete Social' data-toggle="modal" data-target="#delete<?php echo $value->smid?>" style="cursor:pointer;"></i>
                                        </td>

                                        <!-- Modal Start Here -->
                                          <div id="delete<?php echo $value->smid?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">

                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($value->smname); ?></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                          <div class="">
                                                              Do you want to delete this Subject?
                                                          </div>
                                                          
                                                        </div>
                                                        <div class="modal-footer">
                                                          <?php echo Phalcon\Tag::linkTo(array("socialmedia/sm_delete/".$value->smid, 'Delete', 'class' => 'btn btn-danger'));?>
                                                          
                                                          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                        </div>

                                                      </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                          </div>

                                      </tr>
                                      <?php  
                                      }
                                
                                    ?>
                                  </tbody>
                              </table>
                          </div><!--panel-body-->
              </section> <!-- Second Panel End -->
          
      	</section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->