<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
foreach ($subject as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent(); ?>
<?php 
$cour_ship = MasterCourse::find(array("status=:status: ORDER BY name",'bind' => array("status"=>1)));
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours)?>
        <section role="main" class="content-body front-content">
            <?=UIElementsUsers::getBreadcrumds('profile');?>
            <?php $this->flashSession->output(); ?>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <section class="panel">
                            <header class="panel-heading">
                                
                                <h2 class="panel-title">Profile</h2>
                            </header>
                            <div class="panel-body">
                            <div class="profile-show">
                                <div class="col-md-6">
                                    <p class="pull-left">
                                        <strong>Name: </strong>
                                        <?=$user->first_name.' '.$user->last_name?>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-left">
                                        <strong>Email: </strong>
                                        <?=$user->mail_id?>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-left">
                                        <strong>Contact No.: </strong>
                                        <?=$user->contact_no?>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-left">
                                        <strong>Super Category: </strong>
                                        <?php 
                                            foreach ($supcat as $supcatres){
                                                if($supcatres->scid==$user->sup_cat){
                                                    echo $supcatres->scname;
                                                }
                                            }
                                        ?>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-left">
                                        <strong>Course: </strong>
                                        
                                        <?php 
                                            foreach ($cour_ship as $c_list) {
                                                if($c_list->id==$user->course){
                                                    echo $c_list->name;
                                                }
                                            }
                                        ?>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-left">
                                        <strong>Address: </strong>
                                        <?=$user->address?>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-left">
                                        <strong>City: </strong>
                                        <?=$user->city?>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-left">
                                        <strong>State: </strong>
                                        <?=$user->state?>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-left">
                                        <strong>Zip Code: </strong>
                                        <?=$user->zip?>
                                    </p>
                                </div>
                                <div class="col-md-6">
                                    <p class="pull-left">
                                        <strong>Profile Pic: </strong>
                                    <?php if($user->img!=''){ ?>
                                    <img src="<?=BASEURL?>propic/<?=$user->img?>" class="img-circle" alt="">
                                    <?php }else{ ?>
                                    <img src="<?=BASEURL?>propic/<?=$user->img?>" alt="">
                                    <?php } ?>
                                    </p>
                                </div>
                                <div class="btn btn-primary" onclick="edit()">Edit</div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="profile-form" style="display:none;">
                            <?php echo Phalcon\Tag::form(array("index/profile/update", "method" => "post","class"=>"form-horizontal form-bordered","enctype"=>"multipart/form-data"));?>
                                    <div class="form-group">
                                    <label class="col-md-3 control-label">First Name <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="first_name" placeholder="Enter First Name" type="text" name="first_name" value='<?=$user->first_name?>' >
                                    </div>
                                    
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Last Name <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="last_name" onblur="Alfa('last_name')" placeholder="Enter Last Name" type="text" name="last_name" value="<?=$user->last_name?>"><span id="last_name1"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Email-ID <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Enter Mail-ID" type="email" name="mail_id" pattern="[^@]+@[^@]+\.[a-zA-Z]{2,}" value="<?=$user->mail_id?>" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Password <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="****PASSWORD****" type="text" name="pass" value="" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Contact No <span class="required">*</span></label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="contact_no" onblur="checkphone()" placeholder="Enter Contact No" type="text" name="contact_no" value="<?=$user->contact_no?>" maxlength="10" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Super Category </label>
                                    <div class="col-md-6">
                                         <select name="sup_cat"  class="form-control">
                                         <option value="">--Choose Super Category</option><?php
                                            foreach ($supcat as $supcatres) {?>
                                                <option value="<?=$supcatres->scid?>" 
                                                <?php 
                                                    if($supcatres->scid==$user->sup_cat){
                                                        echo 'selected';
                                                    }
                                                ?>
                                                ><?=$supcatres->scname?></option>
                                                <?php
                                                }
                                            ?>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Course </label> 
                                    <div class="col-md-6">
                                     
                                         <select name="course"  class="form-control">
                                         <option value="">--Choose Course</option><?php
                                            foreach ($cour_ship as $c_list) {?>
                                                <option value="<?=$c_list->id?>" <?=($c_list->id==$user->course)?'selected':''?>><?=$c_list->name?></option>
                                                <?php
                                            }
                                            ?>
                                        </select>
                                        
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Address </label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Mailing Address" type="text" name="address" value="<?=$user->address?>" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3  control-label">City </label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="City" type="text" name="city" value="<?=$user->city?>" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3  control-label">State </label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="State" type="text" name="state" value="<?=$user->state?>" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3  control-label">Zip Code </label>
                                    <div class="col-md-6">
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Zip Code" type="text" name="zip" maxlength="10" value="<?=$user->zip?>">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3  control-label">Country </label>
                                    <div class="col-md-6">
                                        Indian
                                        <input type="hidden" value="<?='Indian'?>" name="country">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-3  control-label">Pro Pic </label>
                                    <div class="col-md-6">
                                        <input type="file" name="pic">
                                    </div>
                                </div>                                
                                <div class="form-group">
                                    <label class="col-md-3 control-label">Status <span class="required">*</span></label> 
                                    <div class="col-md-6">
                                        <select name="is_active" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php if(isset($user->is_active) and $user->is_active=='1'){echo "selected='selected'";}?>>Active</option>   
                                          <option value="0" <?php if(isset($user->is_active) and $user->is_active=='0'){echo "selected='selected'";}?>>Inactive</option>          
                                        </select>
                                    </div>
                                </div>
                                <input type="hidden" name="created" value="<?=$user->created?>">
                                <input type="hidden" name="google_id" value="<?=$user->google_id?>">
                                <input type="hidden" name="facebook_id" value="<?=$user->facebook_id?>">
                                <div class="form-group">
                                    <label class="col-md-3 control-label"></label>
                                    <div class="col-md-6">
                                        <button type="submit" class="btn btn-primary pull-right">Submit</button>
                                    </div>
                                </div>
                                </form>
                            </div>
                            </div>
                        </section>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script>
    function edit(){
        $('.profile-form').css("display","block");
        $('.profile-show').css("display","none");
    }
</script>