<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
$exam_time = MasterExamType::findFirst("etid='2' ");
echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<script>
    function share(id){
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>assessment/share',
          data: {id:id},
          success: function(data){
            if(data){
              alert(data);
            }
          }
        });
      }
</script>
<section class="body">

    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours)?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?=ucfirst($topic->tname)?></h2>
                    
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 col-xl-6">

                            <section class="panel panel-featured-left panel-featured-primary">
                                <div class="panel-body">
                                    <div class="col-md-4">
                                        <h3>Your Score</h3>
                                        <h3><?=$assresult->rights?> / <?=$assresult->rights+$assresult->wrongs+$assresult->skiped?></h3>
                                    </div>
                                    <div class="col-md-4">
                                        <h3>Speed</h3>
                                        <h3>
                                        <?php
                                        $exm_arr=explode(":",$assresult->time_taken);
                                        $hr=$exm_arr[0]*60*60*1000;
                                        $min=$exm_arr[1]*60*1000;
                                        $sec=$exm_arr[2]*1000;
                                        $total=(int)$hr+(int)$min+(int)$sec;
                                        //echo $total;
                                        
                                        $t = ($exam_time->time*60*1000)/(($exam_time->time*60*1000)-$total); 
                                        echo number_format($t,2,'.','').'X';
                                        ?>
                                        </h3>
                                    </div>
                                    <div class="col-md-4">
                                        <h3>Accuracy</h3>
                                        <h3><?=round($assresult->rights/$assresult->noq*100)?>%</h3>
                                    </div>
                                </div>
                            </section>
                            
                            <section class="panel panel-primary">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Goal Tested</h2>
                                </header>
                                <div class="panel-body">
                                    <?php
                                        $topicper = json_decode($assresult->topicper);
                                        $topicper = get_object_vars($topicper);
                                        foreach($subtopic as $val){
                                            echo ucfirst($val->stname);
                                            if($topicper[$val->stid]>=80){
                                                echo ' (Concept Absorbed)'."</br>";
                                            }elseif($topicper[$val->stid]>=40 && $topicper[$val->stid]<80){
                                                echo ' (Concept less Absorbed)'."</br>";
                                            }else{
                                                echo ' (Concept Evaporate)'."</br>";
                                            }
                                        }
                                    ?>
                                </div>
                            </section>

                            <section class="panel panel-primary">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Questions</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="toggle" data-plugin-toggle="" data-plugin-options="{ &quot;isAccordion&quot;: true }">
                                        <?php
                                            foreach ($questions as $value) {
                                        ?>
                                        <section class="toggle">
                                            <?php $q = strip_tags($value->question); ?>
                                            <label><?=$q = substr($q,0,50);?>
                                                <p class="pull-right">
                                                <?php if($anscheck[$value->questionid]==$value->ans){
                                                    echo 'Correct Ans.';
                                                }elseif($anscheck[$value->questionid]==''){
                                                    echo 'Skipped Ans.';
                                                }else{
                                                    echo 'Wrong Ans.';
                                                }?>
                                                </p>
                                            </label>
                                            <div class="toggle-content" style="display: none;">
                                                <h4><?=$value->question?></h4>
                                                <p>
                                                <?php if($value->ans=='A'){
                                                    echo 'Ans: '.$value->option1.'</br>';
                                                }elseif($value->ans=='B'){
                                                    echo 'Ans: '.$value->option2.'</br>';
                                                }elseif($value->ans=='C'){
                                                    echo 'Ans: '.$value->option3.'</br>';
                                                }elseif($value->ans=='D'){
                                                    echo 'Ans: '.$value->option4.'</br>';
                                                }
                                                ?>
                                                </p>
                                            </div>
                                        </section>
                                        <?php } ?>
                                    </div>
                                    
                                </div>
                            </section>

                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-6">
                            <div class="panel">
                                <div class="panel-body bg-success" onclick="share(<?=$assresult->id?>)">
                                    <h3 class="text-center" style="margin:0; cursor:pointer;">Share Score with friends</h3>
                                </div>
                            </div>
                            
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Toppers to Follow</h2>
                                </header>
                                <div class="panel-body">
                                    <ul class="simple-post-list">
                                        <li>
                                            <div class="post-image">
                                                <div class="img-thumbnail">
                                                    <a href="#">
                                                        <img src="<?=BASEURL?>assets/images/post-thumb-1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-info">
                                                <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i> Follow</button>
                                                <a href="#"><b>Jhon Doe</b></a>
                                                <div class="post-meta">
                                                     <i class="fa fa-crosshairs"></i> 66 goals cleared
                                                </div>                                                      
                                            </div>
                                        </li>
                                        <li>
                                            <div class="post-image">
                                                <div class="img-thumbnail">
                                                    <a href="#">
                                                        <img src="<?=BASEURL?>assets/images/post-thumb-1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-info">
                                                <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i> Follow</button>
                                                <a href="#"><b>Jhon Doe</b></a>
                                                <div class="post-meta">
                                                     <i class="fa fa-crosshairs"></i> 66 goals cleared
                                                </div>                                                      
                                            </div>
                                        </li>
                                        <li>
                                            <div class="post-image">
                                                <div class="img-thumbnail">
                                                    <a href="#">
                                                        <img src="<?=BASEURL?>assets/images/post-thumb-1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-info">
                                                <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i> Follow</button>
                                                <a href="#"><b>Jhon Doe</b></a>
                                                <div class="post-meta">
                                                     <i class="fa fa-crosshairs"></i> 66 goals cleared
                                                </div>                                                      
                                            </div>
                                        </li>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
 <script>
        $(function () {
          $('[data-toggle="tooltip"]').tooltip()
        })
    </script>