<?php
/**
*Page index
* 
* Author By: Rajesh Sardar
* Created On:24/06/2015
* Modified: N/A
**/
echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="container">
	<div class="col-md-12">
		
		<div class="panel panel-default">
			<div class="panel-heading"><?=$article->title?></div>
			<div class="panel-body">
				<?=$article->article?>
			</div>
		</div>
		
	</div>
</section>
</body>