<?php

echo $this->getContent();?>


<?php echo UIElementsAdmin::getHeader("pageform"); ?>
<!-- slug script start here-->
 <script type="text/javascript">
    function myFunction() {
        var title_nm= document.getElementById("page").value;
        $.post("/ischool4u/pages/slugify/"+title_nm,function(r){//alert("do");
            console.log(r);
            obj = JSON.parse(r);
            var elem = document.getElementById("slug");
             elem.value = obj.value;
             $("#slug_error").html(obj.msg);
                if (obj.status==1) {
                    $('.submit').prop('disabled', false);
                }
                else
                {
                    $('.submit').prop('disabled', true);
                }
            });
        }            
</script>
                        
<!-- slug script end here-->
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>


  				<div class="row"> <!-- Content Start Here -->
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Add Page</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>pages/addpage" name="form2" onsubmit="return Page_submitValidation();"  autocomplete="off" method="post">
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Page <span class="required">*</span></label>
                                        <div class="col-md-6">
                                         <input class="form-control" required id="page" onkeyup="myFunction()" onblur="return page_pagecheck();" placeholder="Enter Page" type="text" name="page" value="<?=$this->request->getPost("page")?>" >
                                         <label><span id="error" ></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Slug <span class="required">*</span></label><span id="slug_error"></span>
                                        <div class="col-md-6">
                                        <input class="form-control" required id="slug" placeholder="Enter Slug" type="text" name="slug" value="<?=$this->request->getPost("slug")?>" >
                                        </div>   
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Description</label>
                                        <div class="col-md-6">                                        
                                            <textarea class="textarea" name="desc" id="desc" onblur="return page_desccheck();" data-plugin-summernote data-plugin-options ='{ "height": 180, "codemirror": { "theme": "ambiance" } }'></textarea>
                                            <label><span id="er" height="1em" style="display:block;height:2px;"></span></label>
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Key Word </label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="metakeyword" onblur="return page_metakeywordcheck();" placeholder="Enter Plan Name" type="text" name="metakeyword"  >
                                        <label><span id="error1" ></span></label>
                                        </div>                                                                  
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Data </label>
                                        <div class="col-md-6">
                                        <input class="form-control" id="metadata" onblur="return page_metadatacheck();" placeholder="Enter Plan Name" type="text" name="metadata"  >
                                        <label><span id="er1" ></span></label>
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Description</label>
                                        <div class="col-md-6"> 
                                        <textarea class="summernote" id="metadesc" name="metadesc"  data-plugin-summernote data-plugin-options ='{ "height": 180, "codemirror": { "theme": "spacelab" } }'></textarea>
                                        <label><span id="error2" ></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status <span class="required">*</span></label>
                                        <div class="col-md-6">
                                        <select name="status" id="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>   
                                          <option value="0">Inactive</option>
                                        </select>
                                        <label><span id="ere1" ></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right"  >Add</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg" >Add</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->




        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("pageform"); ?><!-- footer-->