<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("update"); ?>
<script >
function getsubject(){

    var d = $( "#course" ).val();
    var s = $( "#subject" ).val();
    $.ajax(
    {
      type: 'POST',
      url: '<?php echo BASEURL;?>subject/subjectlist',
      data: 'courseid='+d+'&subjectid='+s,
      success: function(data){
        if(data)
        {
          $("#subsubject").html(data);
           $("#topicdet").html("<option>-- Select Sub Subject--</option>");
        }
      }
    });
  }
  function getsubsubject(){

    var d = $( "#subsubject" ).val();
    var s = $( "#subject" ).val();
    $.ajax(
    {
      type: 'POST',
      url: '<?php echo BASEURL;?>subject/subsubjectlist',
      data: 'subsubjectid='+d+'&subjectid='+s,
      success: function(data){
        if(data)
        {
          
           $("#topicdet").html(data);
        }
      }
    });
  }
  
  </script>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

<!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Edit Sub Topics</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>subject/updatesubtopics" method="post">
                                    <input type="hidden" name="stid" value="<?php echo $subtopic->stid?>"/>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Subject Name</label>
                                        <div class="col-md-6">
                                         <select name="subid" required  class="form-control" id="subject" onchange="getsubject()">
                                          <option value="">-- Selected Subject --</option>
                                          <?php foreach($subject as $sslist){?>
                                            <option value="<?php echo $sslist->id; ?>" <?php echo ($sslist->id==$subtopic->subid)?'selected':''?> ><?php echo $sslist->subjectname;?></option>
                                          <?php }?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Sub Subject Name</label>
                                        <div class="col-md-6">
                                         <select name="ssubid" id="subsubject" onchange="getsubsubject()" required  class="form-control" >
                                            <option value="">-- Selected Sub Subject --</option>
                                             <?php foreach($subsubject as $value1){?>
                                            <option value="<?php echo $value1->ssid; ?>" <?=$value1->ssid==$subtopic->ssubid?"selected":""?> ><?php echo $value1->ssname;?> </option>
                                          <?php }?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label  class="col-md-3 control-label">Topics Name</label>
                                        <div class="col-md-6">
                                        <select name="tid" required id="topicdet" class="form-control">
                                           <option value="">-- Selected Sub Subject --</option>
                                             <?php foreach($topicdet as $valuet){?>
                                            <option value="<?php echo $valuet->tid; ?>" <?=$valuet->tid==$subtopic->tid?"selected":""?> ><?php echo $valuet->tname;?> </option>
                                          <?php }?>                                          
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Sub Topic Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control" value="<?=$subtopic ->stname?>"   placeholder="Enter Subject Name" type="text" name="stname" id="stname" onkeyup="mySsubtopic()" value="<?=$this->request->getPost("stname")?>"   required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Slug</label><span id="slug_error"></span>
                                        <div class="col-md-6">
                                        <input class="form-control" value="<?=$subtopic ->slug?>"  placeholder="Enter Subject Name" type="text" name="slug" id="slug" value="<?=$this->request->getPost("slug")?>" required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Data</label>
                                        <div class="col-md-6">
                                        <input class="form-control" value="<?=$subtopic ->metadata?>"  placeholder="Enter Subject Name" type="text" name="metadata"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Type</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Description" type="text" name="metatype" value="<?=$subtopic ->metatype?>">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Desc</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Meta Data" type="text" name="metadesc" value="<?=$subtopic ->metadesc?>">
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                           <option value="">--Choose status--</option>
                                          <option value="1" <?=$subtopic ->status==1?'selected':''?>>Active</option>
                                          <option value="0" <?=$subtopic->status==0?'selected':''?>>Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Sub Topic</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Sub Topic</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->



        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update"); ?><!-- footer-->