<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("update"); ?>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

<!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12"> 
                        <section class="panel">
                            <header class="panel-heading">
                                <div class="panel-actions">
                                    <a href="#" class="fa fa-caret-down"></a>
                                    <a href="#" class="fa fa-times"></a>
                                </div>
                
                                <h2 class="panel-title">Edit Subject</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>subject/updatesubject" method="post">
                                <?php foreach($subject as $val){ ?>
                                    <input type="hidden" name="id" value="<?php echo $val->id?>"/>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Enter Subject Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Enter Subject Name" type="text" name="subjectname" value="<?php echo $val->subjectname ?>"  required>
                                        </div>
                                    </div>
                                    <!-- <div class="form-group">
                                        <label class="col-sm-3 control-label">Courses</label>
                                        <div class="col-sm-8">
                                            <?php 
                                            $courses = json_decode($val->courses);
                                            foreach($course as $value) { ?>
                                                <div class="checkbox-custom checkbox-default">
                                                    <input type="checkbox" name="courses[]" value="<?=$value->id?>" <?php foreach($courses as $dat){echo ($dat==$value->id)?'checked':'';}?> >
                                                    <label for="checkboxExample1"><?=$value->name?></label>
                                                </div>
                                            <?php } ?>                     
                                        </div>
                                    </div> -->
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Slug</label>
                                        <div class="col-md-6">
                                        <input class="form-control" value="<?php echo $val->slug; ?>" placeholder="Enter Meta Description" type="text" name="slug">
                                        </div>
                                    </div>
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Data</label>
                                        <div class="col-md-6">
                                        <input class="form-control" value="<?php echo $val->metadesc; ?>" placeholder="Enter Meta Data" type="text" name="metadata"  >
                                        </div>                                    
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Type</label>
                                        <div class="col-md-6">
                                        <input class="form-control" value="<?php echo $val->metadata; ?>" placeholder="Enter Meta Type" type="text" name="metatype"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Meta Desc</label>
                                        <div class="col-md-6">
                                        <input class="form-control" value="<?php echo $val->metatype ?>" placeholder="Enter Meta Description" type="text" name="metadesc"  >
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1" <?php echo $val->status==1?'selected':''; ?> >Active</option>
                                          <option value="0" <?php echo $val->status==0?'selected':''; ?> >Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Update Subject</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Update Subject</button>
                                        </div>
                                    </div>
                                    <?php } ?>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->

        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("update"); ?><!-- footer-->