<?php

use Phalcon\Tag as Tag;

echo $this->getContent();?>
                <?php 
                    $auth = $this->session->get('authority');
                    //print_r();
                 ?>

     <!-- header logo: style can be found in header.less -->
                <?php 
                 $tot_tp = MasterAdminTypes::find(array("order" => "type_name"));
                $tot_type=count($tot_tp);
                ?>
                <!-- Main content -->
                <section class="content">
                    <div class="row">
                        <div class="col-xs-12">
                            
                            <div class="box">
                                <div class="box-header">
                                    <h3 class="box-title">Admin User Type(<?=$tot_type?>)</h3>   
                                    <div class="pull-right">
                                    <?php echo Phalcon\Tag::linkTo(array('adminusers/addtype', 'Add Admin Type', 'class' => 'btn btn-info', 'style'=>'margin:10px 50px 0px 0px; color:#FFF;'));?>

                                    </div>                                 
                                </div><!-- /.box-header -->
                                <div class="box-body table-responsive">
                                    <table id="example1" class="table table-bordered table-striped">
                                        <thead>
                                            <tr>
                                                <th>SL# &nbsp;</th>
                                                <th>User Type</th>
                                                <th>Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                        <?php 
                                        $x=1;
                                        foreach ($type as $key ) {
                                        ?>
                                            <tr>
                                                <td><?php echo $x++; ?></td>
                                                <td  ><?php echo ucwords($key->type_name); ?></td> 
                                                <td>
                                                    <?php echo $this->tag->linkTo("adminusers/updatetype/".$key->aid, "<i class='fa fa-edit' title='Update User Type'></i>") ?>

                                                    <i class="fa fa-times" title='Delete User Type' data-toggle="modal" data-target="#delete<?php echo $key->aid?>" style="cursor:pointer;"></i>
                                                    
                                                </td>
                                                <div id="delete<?php echo $key->aid?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                    <div class="modal-dialog">
                                                      <div class="modal-content">
                                                        <div class="modal-header">
                                                          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                          <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($key->type_name); ?></h4>
                                                        </div>
                                                        <div class="modal-body">
                                                          <div class="col-md-12">
                                                              Do you want to delete this User Type?
                                                          </div>                                                          
                                                        </div>
                                                        <div class="modal-footer">
                                                          <?php echo Phalcon\Tag::linkTo(array("adminusers/deletetype/".$key->aid, 'Delete', 'class' => 'btn btn-danger'));?>
                                                          
                                                          <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                        </div>

                                                      </div><!-- /.modal-content -->
                                                    </div><!-- /.modal-dialog -->
                                                  </div>
                                               
                                            </tr>
                                            <?php }?>
                                        </tbody>
                                        <tfoot>
                                            <tr>
                                                <th>SL# &nbsp;</th>
                                                <th>User Type</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div><!-- /.box-body -->
                            </div><!-- /.box -->
                        </div>
                    </div>

                </section><!-- /.content -->
