<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}

echo $this->getContent();
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">

    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2>Free Test Result</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 col-xl-6">

                            <section class="panel panel-featured-left panel-featured-primary">
                                <div class="panel-body">
                                    <div class="col-md-4">
                                        <h3>Your Score</h3>
                                        <h3><?=$result->rights?> / <?=$result->rights+$result->wrongs+$result->skiped?></h3>
                                    </div>
                                    <div class="col-md-4">
                                        <h3>Speed</h3>
                                        <h3>
                                        <?php
                                            echo number_format($result->time_taken,2,'.','').'X';
                                        ?>
                                        </h3>
                                    </div>
                                    <div class="col-md-4">
                                        <h3>Accuracy</h3>
                                        <h3><?=round($result->rights/($result->rights+$result->wrongs+$result->skiped)*100)?>%</h3>
                                    </div>
                                    <div class="clearfix"></div>
                                    <?php $qtype = ["1"=>"Single Type","2"=>"Multiple Type","3"=>"Match Type","4"=>"Numeric Type"];
                                        $total = 0; $mtg=0;
                                        // print_r($resultmark);
                                    ?>
                                    <?php foreach($resultmark as $rmval):?>
                                        <div class="col-md-12">
                                            <h3><?=$qtype[$rmval['type']]?></h3>
                                            <h4>Positive Mark: <?=$rmval['pos']?> | Negetive Mark: <?=$rmval['neg']?> | Total : <?=$rmval['pos']-$rmval['neg']?></h4>
                                        </div>
                                        
                                    <?php endforeach; ?>
                                </div>
                            </section>
                            
                            <section class="panel panel-primary">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Questions</h2>
                                </header>
                                <div class="panel-body">
                                    <div class="toggle" data-plugin-toggle="" data-plugin-options="{ &quot;isAccordion&quot;: true }">
                                        <?php
                                            foreach ($questions as $value) {
                                                foreach($value as $qdtail){
                                        ?>
                                        <section class="toggle">
                                            <?php $q = strip_tags($qdtail->question); ?>
                                            <label><?=$q = substr($q,0,50);?>
                                                <p class="pull-right">
                                                <?php if($anscheck[$qdtail->questionid]==$qdtail->ans){
                                                    echo 'Correct Ans.';
                                                }elseif($anscheck[$qdtail->questionid]==''){
                                                    echo 'Skipped Ans.';
                                                }else{
                                                    echo 'Wrong Ans.';
                                                }?>
                                                </p>
                                            </label>
                                            <div class="toggle-content" style="display: none;">
                                                <h4><?=$qdtail->question?></h4>
                                                <?php if($type[$qdtail->questionid]=='1' || $type[$qdtail->questionid]=='2'): ?>
                                                <ul class="list-group">
                                                  <li class="list-group-item" ><span class="badge badge-inverse pull-left">A </span> <?=$qdtail->option1?></li>
                                                  <li class="list-group-item" ><span class="badge badge-inverse pull-left">B </span> <?=$qdtail->option2?></li>
                                                  <li class="list-group-item" ><span class="badge badge-inverse pull-left">C </span> <?=$qdtail->option3?></li>
                                                  <li class="list-group-item" ><span class="badge badge-inverse pull-left">D </span> <?=$qdtail->option4?></li>
                                                </ul>
                                                <?php elseif($type[$qdtail->questionid]=='3'): ?>
                                                    <table class="table table-bordered match-table">
                                                      <tbody>
                                                          <tr>
                                                              <td><span>A</span> <?=$qdtail->a?></td>
                                                              <td><span>P</span> <?=$qdtail->p?></td>
                                                          </tr>
                                                          <tr>
                                                              <td><span>B</span> <?=$qdtail->b?></td>
                                                              <td><span>Q</span> <?=$qdtail->q?></td>
                                                          </tr>
                                                          <tr>
                                                              <td><span>C</span> <?=$qdtail->c?></td>
                                                              <td><span>R</span> <?=$qdtail->r?></td>
                                                          </tr>
                                                          <tr>
                                                              <td><span>D</span> <?=$qdtail->d?></td>
                                                              <td><span>S</span> <?=$qdtail->s?></td>
                                                          </tr>
                                                      </tbody>
                                                  </table>
                                                <?php elseif($type[$qdtail->questionid]=='4'): ?>
                                                    <div class="clearfix">
                                                        <div class="col-md-4">Min: 0</div>
                                                        <div class="col-md-4">Max: 9</div>
                                                    </div>
                                                <?php endif; ?>
                                                <?php
                                                    switch ($type[$qdtail->questionid]) {
                                                        case '1':
                                                            echo 'Ans: '.$qdtail->ans;
                                                            break;
                                                        case '2':
                                                            echo 'Ans: '.$qdtail->ans;
                                                            break;
                                                        case '3':
                                                            $ans = ['a','b','c','d','e'];
                                                            if($qdtail->ans_e==''){
                                                                $count = 4;
                                                            }else{
                                                                $count = 5;
                                                            }
                                                            for($i=0;$i<$count;$i++){
                                                                echo strtoupper($ans[$i]).' : ';
                                                                $ns = 'ans_'.$ans[$i];
                                                                echo $qdtail->$ns.'<br>';
                                                            }
                                                            break;
                                                        case '4':
                                                            echo 'Ans: '.$qdtail->ans;
                                                            break;
                                                        default:
                                                            # code...
                                                            break;
                                                    }
                                                ?>
                                            </div>
                                        </section>
                                        <?php } } ?>
                                    </div>
                                    
                                </div>
                            </section>

                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-6">
                            <div class="panel">
                                <?php if($result->share==0): ?>
                                <div class="panel-body bg-success" id="shareid" onclick="share(<?=$result->id?>)">
                                    <h3 class="text-center" style="margin:0; cursor:pointer;">Share Score with friends</h3>
                                </div>
                                <?php endif; ?>
                            </div>
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Toppers to Follow</h2>
                                </header>
                                <div class="panel-body">
                                    <ul class="simple-post-list">
                                        <li>
                                            <div class="post-image">
                                                <div class="img-thumbnail">
                                                    <a href="#">
                                                        <img src="<?=BASEURL?>assets/images/post-thumb-1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-info">
                                                <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i> Follow</button>
                                                <a href="#"><b>Jhon Doe</b></a>
                                                <div class="post-meta">
                                                     <i class="fa fa-crosshairs"></i> 66 goals cleared
                                                </div>                                                      
                                            </div>
                                        </li>
                                        <li>
                                            <div class="post-image">
                                                <div class="img-thumbnail">
                                                    <a href="#">
                                                        <img src="<?=BASEURL?>assets/images/post-thumb-1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-info">
                                                <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i> Follow</button>
                                                <a href="#"><b>Jhon Doe</b></a>
                                                <div class="post-meta">
                                                     <i class="fa fa-crosshairs"></i> 66 goals cleared
                                                </div>                                                      
                                            </div>
                                        </li>
                                        <li>
                                            <div class="post-image">
                                                <div class="img-thumbnail">
                                                    <a href="#">
                                                        <img src="<?=BASEURL?>assets/images/post-thumb-1.jpg" alt="">
                                                    </a>
                                                </div>
                                            </div>
                                            <div class="post-info">
                                                <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i> Follow</button>
                                                <a href="#"><b>Jhon Doe</b></a>
                                                <div class="post-meta">
                                                     <i class="fa fa-crosshairs"></i> 66 goals cleared
                                                </div>                                                      
                                            </div>
                                        </li>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
 <script>
    $(function () {
      $('[data-toggle="tooltip"]').tooltip()
    })
</script>
<script>
    function share(id){
        $("#shareid").removeAttr("onclick");
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>test/ftshare',
          data: {id:id},
          success: function(data){
            if(data){
              alert(data);
            }
          }
        });
      }
</script>