<?php

echo $this->getContent();?>

<?php echo UIElementsAdmin::getHeader("updates"); ?>
<script>
  function supcat(supcat){
  var sup_cat = $("#sup_cat").val();
  // ajax call start here
  $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>exams/getcourse',
      data: 'sup_cat='+supcat,
      success: function(data){
        if(data){
          $("#course").html(data);
            console.log(data);
        }
      }
    });
  }
  
  function getsubsubject(){
    var subid = $( "#subject" ).val();
    $.ajax({
      type: 'POST',
      url: '<?php echo BASEURL;?>questionbank/getsubsubject',
      data: 'subjectid='+subid,
      success: function(data){
        if(data){
          $("#subsubject").html(data);
          $("#topics").html("<option>[ Select Topics ]</option>");
          $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
          console.log(data);
        }
      }
    });
  }
    function gettopics(){
      var ssubid = $( "#subsubject" ).val();
      var subid = $( "#subject" ).val();
      $.ajax({
        type: 'POST',
        url: '<?php echo BASEURL;?>questionbank/gettopics',
        data: {subjectid:subid,ssubid:ssubid},
        success: function(data){
          if(data){
            $("#topics").html(data);
            $("#subtopics").html("<option>[ Select Sub Topics ]</option>");
            console.log(data);
          }
        }
      });
    }
    function getsubtopics(){
      var topics = $("#topics").val();
      var ssubid = $("#subsubject").val();
      var subid = $("#subject").val();
      $.ajax({
        type: 'POST',
        url: '<?php echo BASEURL;?>questionbank/getsubtopics',
        data: {subjectid:subid,ssubid:ssubid,topics:topics},
        success: function(data){
          if(data){
            $("#subtopics").html(data);
            console.log(data);
          }
        }
      });
    }
    function getqid(flag){
    var questionid='';
      if(flag==1){
         var questionid = $("#quesidall").val(); 
         if(questionid==''){
             return false;
         }
      }
    $("#loader").css("display","block");
      var topics = $("#topics").val();
      var ssubid = $("#subsubject").val();
      var subid = $("#subject").val();
      var subtopics = $("#subtopics").val();
      $.ajax({
        type: 'POST',
        url: '<?php echo BASEURL;?>freetest/getqid',
        data: {subjectid:subid,ssubid:ssubid,topics:topics,subtopic:subtopics,questionid:questionid},
        success: function(data){
          if(data){
            $("#qid").html(data);
            $("#loader").css("display","none");
            console.log(data);
          }
        }
      });
    }
</script>
<section class="body">
    <?=UIElementsAdmin::getHeadnav($access_roles)?>
    <div class="inner-wrapper">
        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body">
            <?=UIElementsAdmin::getBreadcrumds()?>

            <!-- Start Page Here -->
  				<div class="row"> 
                    <div class="col-xs-12">
                        <section class="panel">
                            <header class="panel-heading">
                                <h2 class="panel-title">Add Free Test</h2>
                            </header>
                            <div class="panel-body">
                                <form class="form-horizontal form-bordered" action="<?=BASEURL?>freetest/addfreetest" method="post">
                                     <div class="form-group">
                                         <label class="col-md-3 control-label">Previous Type</label>
                                        <div class="col-md-6">
                                        <select name="prev_type" required class="form-control">
                                          <option value="">-- Select Previous Exam Type --</option>
                                          <?php
                                            foreach($res as $Res){ ?>
                                              <option value="<?=$Res->id?>"><?=$Res->name?></option>
                                           <?php }
                                          ?>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Exam Name</label>
                                        <div class="col-md-6">
                                        <input class="form-control"  placeholder="Previous exam name" type="text" name="name"  required>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Super Category</label>
                                        <div class="col-md-6">
<!--                                        <select name="sup_cat" required  onchange="supcat(this.value)"  class="form-control">-->
                                        <select name="sup_cat" required class="form-control">
                                          <option value="">-- Super Category --</option>
                                          <?php
                                            foreach($supcat as $supcatRes){ ?>
                                              <option value="<?=$supcatRes->scid?>"><?=$supcatRes->scname?></option>
                                           <?php }
                                          ?>
                                        </select>
                                        </div>
                                    </div>
<!--                                     <div class="form-group">
                                         <label class="col-md-3 control-label" >Course <i class="fa fa-question-circle" data-toggle="tooltip" title="Course are listed Under Super Category"></i></label>
                                        <div class="col-md-6" >
                                            <select name="course" class="form-control" id="course">
                                              <option value="">[-- Choose course --]</option>
                                            </select>
                                        </div>
                                    </div>-->
                                    <div class="form-group">
                                         <label class="col-md-3 control-label">Number Of Question</label>
                                        <div class="col-md-6">
                                        <input class="form-control" placeholder="Number Of Question" id="no_qs" type="text" name="no_qs" value="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-3">
                                          <label for="subject">Subject</label>
                                            <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                                <option value="">[ Select Subject ]</option>
                                                <?php if (isset($subdet) ) {
                                                  foreach ($subdet as $subdetRes) { ?>
                                                    <option value='<?=$subdetRes->id?>'><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                                <?php  }
                                                }
                                              ?>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subsubject">Sub Subject</label>
                                            <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                                <option value="">[ Select Sub Subject ]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="topics">Topic</label>
                                            <select class="form-control mb-md" name="topics" id="topics" onchange="getsubtopics()" >
                                                <option value="">[ Select Topics ]</option>
                                            </select>
                                        </div>
                                        <div class="col-md-3">
                                          <label for="subtopics">Sub Topic</label>
                                            <select class="form-control mb-md" name="subtopics" onchange="getqid()" id="subtopics">
                                                <option value="">[ Select Sub Topics ]</option>
                                            </select>
                                        </div>
                                        <div class="clearfix"></div>
                                        <h5 class="text-center">
                                            OR 
                                        </h5>                                         
                                        <div class="clearfix"></div>
                                        <div class="col-md-3 col-md-offset-3">
                                          <label for="qs">Question Id</label>
                                            <input type="text" class="form-control mb-md" name="qs" id="quesidall" placeholder="Enter Question Id for search">
                                        </div>
                                        <div class="col-md-3">
                                            <label for="idqs"> &nbsp;</label>
                                            <input type="button" class="btn btn-block btn-primary" value="Search" onclick="getqid(1);">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                          <label for="">Questions Selected</label>
                                          <div id="qselect"></div>
                                          <input type="hidden" id="quscount" value="0">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-12">
                                          <div id="qid"></div>
                                        </div>
                                    </div>                                    
                                    <div class="form-group">
                                        <label class="col-md-3 control-label">Status</label>
                                        <div class="col-md-6">
                                        <select name="status" required  class="form-control">
                                          <option value="">--Choose status--</option>
                                          <option value="1">Active</option>
                                          <option value="0">Inactive</option>
                                        </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-md-3 control-label hidden-xs"></label>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-success hidden-xs pull-right">Add Previous Year Test</button>
                                            <button type="submit" class="btn btn-primary btn-block btn-lg visible-xs mt-lg">Add Previous Year Test</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </section>
                    </div>
                </div> <!-- Content End Here -->
        </section><!--content -body-->
    </div><!--inner-wrapper--> 
</section><!--body-->
<div id="viewdetailsid" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-signin">
        <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <h4 class="modal-title" id="myModalLabel">Question Details</h4>
                </div>
                <input type="hidden" name="quesid" value="1" class="form-control"  id="quesid" value="">
                <div class="modal-body" style="overflow:auto;">
                    <div class="col-md-12" id="putdata">
                        
                    </div>
                </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div>
<div class="loader-con" id="loader" style="display:none;width: 100%; height:100%; position: fixed; z-index: 2000; background: rgba(0, 0, 0, 0.48); background-image:url('<?= BASEURL ?>frontend/img/loader.gif'); background-position: center center; background-repeat: no-repeat;top:0;">
                    </div>
<?php echo UIElementsAdmin::getFooter("updates"); ?><!-- footer-->
<script>
  jQuery.fn.exists = function(){return this.length>0;}

  function selectqid(qid){
    var qselect = $("#qselect").html();
    var qsinput = $("#qsinput").val();
    if($("#no_qs").val()!=''){
      if($("#quscount").val()!=$("#no_qs").val()){
        if($("#"+qid).exists()){
          alert('Id Already Exits.');
        }else{
          var qid = '<div class="col-md-2 chkquep" onClick="chekques(this)" id="'+qid+'" >'+qid+'<input type="hidden" id="'+qid+'hid" value="'+qid+'" name="questionid[]"></div>';
          $("#qselect").html(qselect+qid);
          var count = $("#quscount").val();
          count = parseInt(count)+1;
          $("#quscount").val(count);
        }
      }else{
        alert('You are reached at maximun no of question');
      }
    }else{
      alert('Fist enter no of question to add.');
    }
  }
  
  function chekques(item) {
    $("#loader").css("display","block");
    var curqid = $(item).attr("id");
    $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>freetest/getdetails',
      data: 'curqid='+curqid+"&flag=1",
      success: function(data){
        if(data){
            $("#loader").css("display","none");
            $("#putdata").html(data);
            $("#viewdetailsid").modal("show");
        }
      }
    });

   }
  function showdeatils(item) {
      $("#loader").css("display","block");
    $.ajax({
      type: 'POST',
      url: '<?=BASEURL?>freetest/getdetails',
      data: 'curqid='+item,
      success: function(data){
        if(data){
          $("#loader").css("display","none");
          $("#putdata").html(data);
          $("#viewdetailsid").modal("show");
        }
      }
    });
   }
  function removeques(qid){
      $('#'+qid).remove();
            $("#quscount").val(parseInt($("#quscount").val())-1);
             $("#viewdetailsid").modal("hide");
            alert('Successfully Removed!');
  }
</script>