<?php echo $this->getContent(); ?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>

<section class="body">
    <?= UIElementsAdmin::getHeadnav($access_roles) ?>
    <div class="inner-wrapper">
        <?= UIElementsAdmin::getSidebar($access_roles) ?>
        <section role="main" class="content-body has-toolbar">
            <?= UIElementsAdmin::getBreadcrumds() ?>
            <?php $this->flashSession->output() ?>

            <!-- Start Page Here -->
            <div class="inner-toolbar clearfix" style="overflow:visible;"><!-- Toolbar Here -->
                <ul>
                    <li class="right">
                        <ul class="nav nav-pills nav-pills-primary">
                            <li class="active">
                                <a href="<?= BASEURL ?>exams/addexamtype">Add Exam</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>

            <section class="panel course-body"> <!-- Second Panel -->
                <header class="panel-heading">
                    <div class="panel-actions">
                        <a href="#" class="fa fa-caret-down"></a>
                        <a href="#" class="fa fa-times"></a>
                    </div>

                    <h2 class="panel-title">Exams Type</h2>
                </header>
                <div class="panel-body">
                    <div class="col-md-11">
                        <div class="exam-accordion-con">
                            <div class="panel-group" id="accordion">

                                <div class="panel panel-default">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse1">      
                                        <div class="panel-heading">
                                            <h4 class="panel-title">SubjectWise Test</h4>
                                        </div>
                                    </a>
                                    <div id="collapse1" class="panel-collapse collapse in">
                                        <div class="panel-body">
                                            <div class="type-view-con">
                                                <table class="table table-bordered">
                                                    <?php
                                                    $sql = "select * from MasterExamType WHERE exam_type=1 GROUP BY sup_cat";
                                                    $res = $this->modelsManager->executeQuery($sql);
                                                    foreach ($res as $va) {
                                                        $sql_cou = "select * from MasterCourse WHERE scid=$va->sup_cat AND status=1";
                                                        $cur = $this->modelsManager->executeQuery($sql_cou);
                                                        ?>
                                                        <tr>
                                                            <td class="con1"><h4><?php echo $supcat[$va->sup_cat]; ?></h4></td>
                                                            <td class="con2">
                                                                <div class="sub-div-con">
                                                                    <table class="table table-bordered">
                                                                        <?php foreach ($cur as $val) { ?>
                                                                            <tr>
                                                                                <td class="sub-heading-con">
                                                                                    <h5><?php echo $val->name ?></h5>
                                                                                </td>
                                                                                <td class="sub-contents-con">
                                                                                    <?php
                                                                                    $sql_new = "select * from MasterExamType WHERE exam_type=1 AND  course LIKE '%" . $val->id . "%'";
                                                                                    $res_new = $this->modelsManager->executeQuery($sql_new);
                                                                                    foreach ($res_new as $va) {
                                                                                        ?>
                                                                                        <p><label class="labeled"><?php echo $va->etname ?></label>
                                                                                            <label class="pull-right">
                                                                                                <a class="btn btn-xs btn-success" href="<?php echo BASEURL; ?>exams/updexamtype/<?php echo $va->etid; ?>" title="Edit Exam"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                                                                <a href="<?php echo BASEURL; ?>exams/delexamtype/<?php echo $va->etid; ?>" onclick="return confirm('Are you sure to delete !');" title="Delete Exam" class="btn btn-xs btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                                                                <?php
                                                                                                $res_tes = MasterTests::findFirst("test_type='1' AND exam_type=$va->etid AND couse=$val->id");
                                                                                                if (empty($res_tes)) {
                                                                                                    ?>
                                                                                                    <a class="btn btn-xs btn-warning" href="<?php echo BASEURL; ?>tests/addtests/1/<?php echo $va->etid; ?>/<?php echo $val->id; ?>" title="Manage Exam"><i class="fa fa-cubes" aria-hidden="true"></i></a>
                                                                                                <?php
                                                                                                } else {
                                                                                                    $remain = MasterTestExam::find(array("id_test=$res_tes->id"));
                                                                                                    $totalused = 0;
                                                                                                    if (!empty($remain)) {
                                                                                                        foreach ($remain as $remva) {
                                                                                                        $used = json_decode($remva->qint);
                                                                                                        foreach ($used as $key => $valnew) {
                                                                                                            $totalused+= $valnew[0];
                                                                                                        }
                                                                                                    }
                                                                                                    }
                                                                                                    $remain_ques = (int) $va->no_qs - (int) $totalused;
                                                                                                    ?>
                                                                                                    <a class="btn btn-xs btn-info" href="<?php echo BASEURL; ?>tests/updatetests/<?php echo $res_tes->id; ?>"title="Edit Managed Exam"><i class="fa fa-cubes" aria-hidden="true"></i></a>
                                                                                                    <a class="btn btn-xs <?php if($remain_ques==0){ echo "btn-success";}else{ echo "btn-warning";}?>" href="<?php echo BASEURL; ?>tests/managetopics/1/<?php echo $res_tes->id; ?>/<?php echo $val->id; ?>/<?php echo $va->etid; ?>" title="<?php if($remain_ques==0){ echo "Managed Topic";}else{ echo "Manage Topic";}?>"><i class="fa fa-book" aria-hidden="true"></i></a>
                                                                                        <?php } ?>
                                                                                            </label>
                                                                                        </p>
                                                                            <?php } ?>                                         
                                                                                </td>
                                                                            </tr>
    <?php } ?>
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
<?php } ?>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="panel panel-default">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse2">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Topicwise Test</h4>
                                        </div>
                                    </a>
                                    <div id="collapse2" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="type-view-con">
                                                <table class="table table-bordered">
                                                    <?php
                                                    $sql = "select * from MasterExamType WHERE exam_type=2 GROUP BY sup_cat";
                                                    $res = $this->modelsManager->executeQuery($sql);
                                                    foreach ($res as $va) {
                                                        $sql_cou = "select * from MasterCourse WHERE scid=$va->sup_cat AND status=1";
                                                        $cur = $this->modelsManager->executeQuery($sql_cou);
                                                        ?>
                                                        <tr>
                                                            <td class="con1"><h4><?php echo $supcat[$va->sup_cat]; ?></h4></td>
                                                            <td class="con2">
                                                                <div class="sub-div-con">
                                                                    <table class="table table-bordered">
    <?php foreach ($cur as $val) { ?>
                                                                            <tr>
                                                                                <td class="sub-heading-con">
                                                                                    <h5><?php echo $val->name ?></h5>
                                                                                </td>
                                                                                <td class="sub-contents-con">
                                                                                    <?php
                                                                                    $sql_new = "select * from MasterExamType WHERE exam_type=2 AND course LIKE '%" . $val->id . "%'";
                                                                                    $res_new = $this->modelsManager->executeQuery($sql_new);
                                                                                    foreach ($res_new as $va) {
                                                                                        ?>
                                                                                        <p><label class="labeled"><?php echo $va->etname ?></label>
                                                                                            <label class="pull-right"><a class="btn btn-xs btn-success" href="<?php echo BASEURL; ?>exams/updexamtype/<?php echo $va->etid; ?>" title="Edit Exam"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                                                                <a href="<?php echo BASEURL; ?>exams/delexamtype/<?php echo $va->etid; ?>" onclick="return confirm('Are you sure to delete !');" title="Delete Exam" class="btn btn-xs btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                                                                <?php
                                                                                                $res_tes = MasterTests::findFirst("test_type='2' AND exam_type=$va->etid AND couse=$val->id");
                                                                                                if (empty($res_tes)) {
                                                                                                    ?>
                                                                                                    <a class="btn btn-xs btn-warning" href="<?php echo BASEURL; ?>tests/addtests/2/<?php echo $va->etid; ?>/<?php echo $val->id; ?>" title="Manage Exam"><i class="fa fa-cubes" aria-hidden="true"></i></a>
                                                                                                <?php } else { 
                                                                                                    $remain = MasterTestExam::find(array("id_test=$res_tes->id"));
                                                                                                    $totalused = 0;
                                                                                                    if (!empty($remain)) {
                                                                                                        foreach ($remain as $remva) {
                                                                                                        $used = json_decode($remva->qint);
                                                                                                        foreach ($used as $key => $valnew) {
                                                                                                            $totalused+= $valnew[0];
                                                                                                        }
                                                                                                    }
                                                                                                    }
                                                                                                    $remain_ques = (int) $va->no_qs - (int) $totalused;
                                                                                                    ?>
                                                                                                    <a class="btn btn-xs btn-info" href="<?php echo BASEURL; ?>tests/updatetests/<?php echo $res_tes->id; ?>"title="Edit Managed Exam"><i class="fa fa-cubes" aria-hidden="true"></i></a>
                                                                                                    <a class="btn btn-xs <?php if($remain_ques==0){ echo "btn-success";}else{ echo "btn-warning";}?>" href="<?php echo BASEURL; ?>tests/managetopicwise/2/<?php echo $res_tes->id; ?>/<?php echo $val->id; ?>/<?php echo $va->etid; ?>" title="<?php if($remain_ques==0){ echo "Managed Topic";}else{ echo "Manage Topic";}?>"><i class="fa fa-book" aria-hidden="true"></i></a>
                                                                                                    <?php } ?>
                                                                                            </label></p>
                                                                            <?php } ?>                                     
                                                                                </td>
                                                                            </tr>
    <?php } ?>                      
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
<?php } ?>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse3">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Unit Test</h4>
                                        </div>
                                    </a>
                                    <div id="collapse3" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="type-view-con">
                                                <table class="table table-bordered">
                                                    <?php
                                                    $sql = "select * from MasterExamType WHERE exam_type=3 GROUP BY sup_cat";
                                                    $res = $this->modelsManager->executeQuery($sql);
                                                    foreach ($res as $va) {
                                                        $sql_cou = "select * from MasterCourse WHERE scid=$va->sup_cat AND status=1";
                                                        $cur = $this->modelsManager->executeQuery($sql_cou);
                                                        ?>
                                                        <tr>
                                                            <td class="con1"><h4><?php echo $supcat[$va->sup_cat]; ?></h4></td>
                                                            <td class="con2">
                                                                <div class="sub-div-con">
                                                                    <table class="table table-bordered">
    <?php foreach ($cur as $val) { ?>
                                                                            <tr>
                                                                                <td class="sub-heading-con">
                                                                                    <h5><?php echo $val->name; ?></h5>
                                                                                </td>
                                                                                <td class="sub-contents-con">
                                                                                    <?php
                                                                                    $sql_new = "select * from MasterExamType WHERE exam_type=3 AND course LIKE '%" . $val->id . "%'";
                                                                                    $res_new = $this->modelsManager->executeQuery($sql_new);
                                                                                    foreach ($res_new as $va) {
                                                                                        ?>
                                                                                        <p><label class="labeled"><?php echo $va->etname ?></label>
                                                                                            <label class="pull-right"><a class="btn btn-xs btn-success" href="<?php echo BASEURL; ?>exams/updexamtype/<?php echo $va->etid; ?>" title="Edit Exam"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                                                                <a href="<?php echo BASEURL; ?>exams/delexamtype/<?php echo $va->etid; ?>" onclick="return confirm('Are you sure to delete !');" title="Delete Exam" class="btn btn-xs btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                                                                <?php
                                                                                                $res_tes = MasterTests::findFirst("test_type='3' AND exam_type=$va->etid AND couse=$val->id");
                                                                                                if (empty($res_tes)) {
                                                                                                    ?>
                                                                                                    <a class="btn btn-xs btn-warning" href="<?php echo BASEURL; ?>tests/addtests/3/<?php echo $va->etid; ?>/<?php echo $val->id; ?>" title="Manage Exam"><i class="fa fa-cubes" aria-hidden="true"></i></a>
                                                                                                <?php } else { 
                                                                                                    $remain = MasterTestExam::find(array("id_test=$res_tes->id"));
                                                                                                    $totalused = 0;
                                                                                                    if (!empty($remain)) {
                                                                                                        foreach ($remain as $remva) {
                                                                                                        $used = json_decode($remva->qint);
                                                                                                        foreach ($used as $key => $valnew) {
                                                                                                            $totalused+= $valnew[0];
                                                                                                        }
                                                                                                    }
                                                                                                    }
                                                                                                    $remain_ques = (int) $va->no_qs - (int) $totalused;?>
                                                                                                    <a class="btn btn-xs btn-info" href="<?php echo BASEURL; ?>tests/updatetests/<?php echo $res_tes->id; ?>"title="Edit Managed Exam"><i class="fa fa-cubes" aria-hidden="true"></i></a>
                                                                                                    <a class="btn btn-xs <?php if($remain_ques==0){ echo "btn-success";}else{ echo "btn-warning";}?>" href="<?php echo BASEURL; ?>tests/manageunitwise/3/<?php echo $res_tes->id; ?>/<?php echo $val->id; ?>/<?php echo $va->etid; ?>" title="<?php if($remain_ques==0){ echo "Managed Topic";}else{ echo "Manage Topic";}?>"><i class="fa fa-book" aria-hidden="true"></i></a>
                                                                                                    <?php } ?>
                                                                                            </label></p>
                                                                            <?php } ?>                                          
                                                                                </td>
                                                                            </tr>
    <?php } ?>

                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
<?php } ?>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="panel panel-default">
                                    <a data-toggle="collapse" data-parent="#accordion" href="#collapse4">
                                        <div class="panel-heading">
                                            <h4 class="panel-title">Full Syllabus Test</h4>
                                        </div>
                                    </a>
                                    <div id="collapse4" class="panel-collapse collapse">
                                        <div class="panel-body">
                                            <div class="type-view-con">
                                                <table class="table table-bordered">
                                                    <?php
                                                    $sql = "select * from MasterExamType WHERE exam_type=5 GROUP BY sup_cat";
                                                    $res = $this->modelsManager->executeQuery($sql);
                                                    foreach ($res as $va) {
                                                        $sql_cou = "select * from MasterCourse WHERE scid=$va->sup_cat AND status=1";
                                                        $cur = $this->modelsManager->executeQuery($sql_cou);
//                                                       
                                                        ?>
                                                        <tr>
                                                            <td class="con1"><h4><?php echo $supcat[$va->sup_cat]; ?></h4></td>
                                                            <td class="con2">
                                                                <div class="sub-div-con">
                                                                    <table class="table table-bordered">
    <?php foreach ($cur as $val) { ?>
                                                                            <tr>
                                                                                <td class="sub-heading-con">
                                                                                    <h5><?php echo $val->name; ?></h5>
                                                                                </td>
                                                                                <td class="sub-contents-con">
                                                                                    <?php
                                                                                    $sql_new = "select * from MasterExamType WHERE exam_type=5 AND course LIKE '%" . $val->id . "%'";
                                                                                    $res_new = $this->modelsManager->executeQuery($sql_new);
                                                                                    foreach ($res_new as $va) {
                                                                                        ?>
                                                                                        <p><label class="labeled"><?php echo $va->etname ?></label>
                                                                                            <label class="pull-right"><a class="btn btn-xs btn-success" href="<?php echo BASEURL; ?>exams/updexamtype/<?php echo $va->etid; ?>" title="Edit Exam" ><i class="fa fa-pencil" aria-hidden="true"></i></a>
                                                                                                <a href="<?php echo BASEURL; ?>exams/delexamtype/<?php echo $va->etid; ?>" onclick="return confirm('Are you sure to delete !');" title="Delete Exam" class="btn btn-xs btn-danger"><i class="fa fa-trash-o" aria-hidden="true"></i></a>
                                                                                                <?php
                                                                                                $res_tes = MasterTests::findFirst("test_type='5' AND exam_type=$va->etid AND couse=$val->id");
                                                                                                if (empty($res_tes)) {
                                                                                                    ?>
                                                                                                    <a class="btn btn-xs btn-warning" href="<?php echo BASEURL; ?>tests/addtests/5/<?php echo $va->etid; ?>/<?php echo $val->id; ?>" title="Manage Exam"><i class="fa fa-cubes" aria-hidden="true"></i></a>
                                                                                        <?php } else{ 
                                                                                            $remain = MasterTestExam::find(array("id_test=$res_tes->id"));
                                                                                                    $totalused = 0;
                                                                                                    if (!empty($remain)) {
                                                                                                        foreach ($remain as $remva) {
                                                                                                        $used = json_decode($remva->qint);
                                                                                                        foreach ($used as $key => $valnew) {
                                                                                                            $totalused+= $valnew[0];
                                                                                                        }
                                                                                                    }
                                                                                                    }
                                                                                                    $remain_ques = (int) $va->no_qs - (int) $totalused;
                                                                                                    ?>
                                                                                                    <a class="btn btn-xs btn-info" href="<?php echo BASEURL; ?>tests/updatetests/<?php echo $res_tes->id; ?>"title="Edit Managed Exam"><i class="fa fa-cubes" aria-hidden="true"></i></a>
                                                                                                    <a class="btn btn-xs <?php if($remain_ques==0){ echo "btn-success";}else{ echo "btn-warning";}?>" href="<?php echo BASEURL; ?>tests/managetopics/5/<?php echo $res_tes->id; ?>/<?php echo $val->id; ?>/<?php echo $va->etid; ?>" title="<?php if($remain_ques==0){ echo "Managed Topic";}else{ echo "Manage Topic";}?>"><i class="fa fa-book" aria-hidden="true"></i></a>
                                                                                                    <?php } ?>
                                                                                            </label></p>
        <?php } ?>
                                                                                </td>
                                                                            </tr>
                                                        <?php } ?>                              
                                                                    </table>
                                                                </div>
                                                            </td>
                                                        </tr>
<?php } ?>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                        </div><!-----exam-accordion-con----->
                    </div><!-----col-md-9----->                         


                </div>
            </section>        
        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->