<?php
/**
*Page index
* 
* Author By: Rajesh Sardar
* Created On:24/06/2015
* Modified: N/A
**/
echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<section class="row">
	<div class="col-md-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3>Result</h3>
			</div>
			<div class="panel-body">
				<div class="col-md-10">
				<p>Right Answer : <?=$right?></p>
				<p>Wrong Answer : <?=$wrong?></p>
				<p>Skiped Answer : <?=$skiped?></p>
				<p>Accurecy : <?=$per?>%</p>
				</div>
			</div>
		</div>
	</div>
</section>
<?php echo UIElementsAdmin::getFooter("tables"); ?>