<?php
$cours = array('id' => $course->id, 'name' => $course->name, 'subject' => array());
$sub = json_decode($course->subject);
$j = 0;
$subj = MasterSubject::find(array("status=1"));
$sup_cat = $user_session['sup_cat'];
$exam_id = MasterExamType::findFirst(array("exam_type='1' AND sup_cat='" . $sup_cat . "'"));
foreach ($subj as $val) {
    foreach ($sub as $subval) {
        if ($val->id == $subval) {
            $cours['subject'][$j] = array('sid' => $exam_id->etid, 'id' => $val->id, 'slug' => $val->slug, 'name' => $val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
?>
<?php
$getVal = $this->request->get();
$url = preg_replace('/^\//', '', $getVal['_url']);
?>
    <?php echo UIElementsUsers::getHeader("adminusers"); ?>
<section class="body">
        <?= UIElementsUsers::getHeadnav($user_session) ?>
    <div class="inner-wrapper">
            <?= UIElementsUsers::getfrontSidebar($cours, $fixpack) ?>
        <section role="main" class="content-body front-content after-breadcm">
<?= UIElementsUsers::getBreadcrumds() ?>
<?php $this->flashSession->output() ?>
            <div class="free-test-top">
                <div class="container">
                    <h2>Previous Year Test</h2>
                </div>
                <div class="free-test-tabs">
                    <div class="container">
                        <ul>
                            <?php $i = 1;
                            foreach ($res as $va) { ?>
                                <li class="avtcls maincls<?= $va->id ?><?php if ($i == 1) {
                                    echo " active";
                                } ?>"><a href="#" onclick="viewprevexam(<?= $va->id ?>);"><?= ucfirst($va->name) ?></a></li>
    <?php $i++;
} ?>
                        </ul>
                    </div>
                </div>
            </div><!--free-test-top-->

            <div class="row free-test-con">
                <div class="col-xs-12">
                    <h5 class="ft-heading">Practice with questions from past test papers</h5>
<?php $j = 1;
foreach ($res as $news) { ?>   
                        <div class="free-test-list <?php if ($j != 1) { ?>hidecls<?php } ?>" id="shwcls<?= $news->id ?>">
                            <?php if (isset($freetest[$news->id])) {
                                foreach ($freetest[$news->id] as $sh) { ?>
                            <a href="<?=BASEURL?>tests/freetest/<?=$sh['id']?>" class="single-test">
                                        <div class="ft-title">
                                            <h5><?= ucfirst($sh['name']) ?></h5>
                                        </div>
                                        <i class="fa fa-chevron-right"></i>
                                    </a><!--single-test-->
        <?php }
    } else {
        echo "<p class='no-test'>No Exam paper set For this Exam <b>:(</b></p>";
    } ?>
                        </div>
    <?php $j++;
} ?>
                </div>
            </div>
        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>

<style>
    .page-header{
        box-shadow:none;
    }
    .hidecls{
        display:none;
    }
</style>
<script>
    $(document).scroll(function(e){
        if($(window).scrollTop()>= 50 && $(window).width() > 767){
            $(".free-test-top>.free-test-tabs").css({
                "position": "fixed" ,
                "left": "275px" ,
                "top": "70px" ,
                "padding-top": "40px"
            });
        } 
        else if($(window).scrollTop()<= 50 && $(window).width() > 767){
            $(".free-test-top>.free-test-tabs").css({
                "position": "absolute" ,
                "left": "0px" ,
                "top": "initial" ,
                "padding-top": "initial"
            });
        }
        else if($(window).scrollTop()>= 50 && $(window).width() < 767){
            $(".free-test-top>.free-test-tabs").css({
                "position": "fixed" ,
                "left": "0" ,
                "top": "10px" ,
                "padding-top": "70px"
            });
        }
        else if($(window).scrollTop()<= 50 && $(window).width() < 767){
            $(".free-test-top>.free-test-tabs").css({
                "position": "absolute" ,
                "left": "0px" ,
                "top": "initial" ,
                "padding-top": "initial"
            });
        }				
		
		
    });
    function viewprevexam(idda){
        $(".free-test-list").addClass("hidecls");
        $(".avtcls").removeClass("active");
        $(".maincls"+idda).addClass("active");
        $("#shwcls"+idda).removeClass('hidecls');
    }
</script>