<?php 

echo $this->getContent();?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<style>
	.smarg {
		margin-right: 10px;
		background: #0088CC;
		color: #FFF;
		border-radius: 50%;
		padding: 0px 7px 0px 7px;
	}
	.hed{
		line-height: 2em;
	}
	.tbtn {
		margin: 0 auto;
		display: block;
		width: 115px;
	}
	.extra-info{
		font-size: 15px;
		display: block;
		color: #A7A7A7;
		text-indent: 5%;
		line-height: 25px;
	}
</style>
<div class="info-box">
	<div class="panel panel-default">
    	<div class="exam-inst-left">
          <div class="dashboard-top">
          	<span><i class="fa fa-info-circle" aria-hidden="true"></i></span>
              	<h3>Exam Instructions</h3>
             	<p>For your knowledge read the below Instruction's carefully.</p>
<div class="inst-btn-con"><a href="<?=BASEURL?>tests/unitwise/<?=$master_exam->id?>" class="inst-btn btn btn-primary">Take Test <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>                
                
            </div>        
        </div><!--exam-inst-left-->
        <div class="exam-inst-right">
			<div class="exam-inst-con">
                <div class="exam-inst-content">
                	<div class="exam-inst-head"><h3><i class="fa fa-info-circle" aria-hidden="true"></i> Instruction's</h3></div>
				<?php
				$me = json_decode($master_exam->qint);
				$qtype = MasterQuesType::find("status=1");
				$count = 0;
				$sl=1;
				foreach($me as $key=>$va){
					foreach($qtype as $val){
						if($val->qtid==$key){
                                                $remain = MasterTestExam::find(array("id_test=$master_exam->id"));
                                                foreach ($remain as $vanew) {
                                                    $used = json_decode($vanew->qint);
                                                    $totn[$key][] = $used->$key;
                                                }
                                                $sum = 0;
                                                foreach ($totn[$key] as $valnew) {
                                                    $sum+=$valnew[0];
                                                }
                                    
							echo '<div class="inst-content-list"><span class="badge">'.$sl++.'</span>&#32;&#32;';
							echo '<label>Questions &#34;'.$sum .'&#34; are '.$val->qtname.'.</label>';
                                                        echo '<span class="inst-bottom">( You will get +'.$va[0].' marks for marking a correct options and -'.$va[1].' for wrong answers.  )</span>';
							echo '</div>';
						}
					}
				}
				
				?>
                
        	</div>      
		</div><!--exam-inst-right-->
	</div><!--panel-->
</div>