<?php
/**
*Page index 
* 
* Author By: Preetish priyabrata
* Created On:13/06/2015
* Modified: N/A
**/
echo $this->getContent();?>
<?php
  $getVal=$this->request->get();
?>
<?php echo UIElementsAdmin::getHeader("tables"); ?>
<script type="text/javascript">
  function getsubsubject(){
        var subid = $( "#subject" ).val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/getsubsubject',
          data: 'subjectid='+subid,
          success: function(data){
            if(data){
              $("#subsubject").html(data);
              $("#topics").html("<option value >[ Select Topics ]</option>");
              $("#subtopics").html("<option value >[ Select Sub Topics ]</option>");
              console.log(data);
            }
          }
        });
      }
      function gettopics(){
        var ssubid = $( "#subsubject" ).val();
        var subid = $( "#subject" ).val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/gettopics',
          data: {subjectid:subid,ssubid:ssubid},
          success: function(data){
            if(data){
              $("#topics").html(data);
              $("#subtopics").html("<option value >[ Select Sub Topics ]</option>");
              console.log(data);
            }
          }
        });
      }
      function getsubtopics(){
        var topics = $("#topics").val();
        var ssubid = $("#subsubject").val();
        var subid = $("#subject").val();
        $.ajax({
          type: 'POST',
          url: '<?php echo BASEURL;?>questionbank/getsubtopics',
          data: {subjectid:subid,ssubid:ssubid,topics:topics},
          success: function(data){
            if(data){
              $("#subtopics").html(data);
              console.log(data);
            }
          }
        });
      }
</script>
<section class="body">

    <?=UIElementsAdmin::getHeadnav($access_roles)?>

    <div class="inner-wrapper">

        <?=UIElementsAdmin::getSidebar($access_roles)?>
        <section role="main" class="content-body has-toolbar">
            <?=UIElementsAdmin::getBreadcrumds()?>
            <?php $this->flashSession->output() ?>

            <!-- Start Page Here -->
                  <!-- Toolbar Here -->
                      <div class="inner-toolbar clearfix"> 
                        <ul>
                          <li class="right">
                            <ul class="nav nav-pills nav-pills-primary">
                              <li class="active">
                                <a href="<?=BASEURL?>tips/addtips">Add Tips</a>
                              </li>
                            </ul>
                          </li>
                        </ul>
                      </div>
                  <!-- Toolbar Here end -->
                  <!-- main contain start-->
        <section class="panel">

                      <header class="panel-heading">
                          <div class="panel-actions">
                              <a href="#" class="fa fa-caret-down"></a>
                              <a href="#" class="fa fa-times"></a>
                          </div>
                  
                          <h2 class="panel-title">Tips Details</h2>
                      </header>
                          <div class="panel-body">
                          <div class="form-group">
                          <form class="form-horizontal form-bordered" action="<?=BASEURL?>tips" method="get">
                            <div class="col-md-3">
                              <label for="subject">Subject</label>
                                <select class="form-control mb-md" id="subject" name="subject" onchange="getsubsubject()" >
                                    <option value="">[ Select Subject ]</option>
                                    <?php if (isset($subdet) ) {
                                      foreach ($subdet as $subdetRes) { ?>
                                        <option value='<?=$subdetRes->id?>' <?php if(isset($getVal['subject']) & $getVal['subject']==$subdetRes->id){echo "selected";}?> ><?=stripslashes(ucwords($subdetRes->subjectname))?></option>
                                    <?php  }
                                    } 
                                  ?>
                                </select>
                            </div>
                            <div class="col-md-3">
                              <label for="subsubject">Sub Subject</label>
                                <select class="form-control mb-md" name="subsubject" id="subsubject" onchange="gettopics()" >
                                    <option value="">[ Select Sub Subject ]</option>
                                    <?php if (isset($subsubdet) ) {
                                  foreach ($subsubdet as $subsubdetRes) { ?>
                                    <option value='<?=$subsubdetRes->ssid?>' <?php if(isset($getVal['subsubject']) & $getVal['subsubject']==$subsubdetRes->ssid){echo "selected";}?> ><?=stripslashes(ucwords($subsubdetRes->ssname))?></option>
                                    <?php  }
                                    }
                                  ?>
                                </select>
                            </div>
                            <div class="col-md-3">
                              <label for="topics">Topic</label>
                                <select class="form-control mb-md" name="topics" id="topics" onchange="getsubtopics()" >
                                    <option value="">[ Select Topics ]</option>
                                    <?php if (isset($mTopicdet) ) {
                                  foreach ($mTopicdet as $mTopicdetRes) { ?>
                                    <option value='<?=$mTopicdetRes->tid?>' <?php if(isset($getVal['topics']) & $getVal['topics']==$mTopicdetRes->tid){echo "selected";}?> ><?=stripslashes(ucwords($mTopicdetRes->tname))?></option>
                                <?php  }
                                }
                              ?>
                                </select>
                            </div>
                            <div class="col-md-3">
                              <label for="subtopics">Sub Topic</label>
                                <select class="form-control mb-md" name="subtopics" id="subtopics">
                                    <option value="">[ Select Sub Topics ]</option>
                                    <?php if (isset($msTopicdet) ) {
                                  foreach ($msTopicdet as $msTopicdetRes) { ?>
                                    <option value='<?=$msTopicdetRes->stid?>' <?php if(isset($getVal['subtopics']) & $getVal['subtopics']==$msTopicdetRes->stid){echo "selected";}?> ><?=stripslashes(ucwords($msTopicdetRes->stname))?></option>
                                <?php  }
                                }
                              ?>
                                </select>
                            </div>
                            <div class="col-md-3">
                              <label for="subtopics">Tips Type</label>
                                <select class="form-control mb-md" name="contype">
                                    <option value="">[ Select Concept Type ]</option>
                                    <?php if (isset($tipstype) ) {
                                      foreach ($tipstype as $contypeRes) { ?>
                                        <option value='<?=$contypeRes->id?>' <?php if(isset($getVal['contype']) & $getVal['contype']==$contypeRes->id){echo "selected";}?> ><?=stripslashes(ucwords($contypeRes->title))?></option>
                                    <?php  }
                                    } 
                                  ?>
                                </select>
                            </div>
                            <div class="col-md-3">
                              <input type="submit" value="submit" name="submit" class="btn btn-primary" />
                            </div>
                            </form>
                        </div>
                              <table class="table table-bordered table-striped mb-none" id="datatable-default">
                                  <thead>
                                      <tr>
                                          <th>SL# &nbsp;</th>
                                          <th>Title</th>
                                          <th>Tips Type</th>                                    
                                          <th>Description</th>
                                          <th>Status</th>
                                          <th>Action</th>
                                      </tr>
                                  </thead>
                                  <tbody>
                                  
                                   <?php $x=1; foreach ($tips as $val) { ?>
                                        <tr>
                                          <td><?=$x?></td>
                                          <td><?=$val->title?></td>
                                          <td>
                                          <?php
                                            foreach($tipstype as $tipstypeRes){
                                              if($tipstypeRes->id==$val->tiptype){
                                                echo $tipstypeRes->title;
                                              }
                                            }
                                          ?>
                                          </td>
                                          <td><?=$val->tip?></td>
                                          <td>
                                          <?php 
                                              if ($val->status==1) {
                                                  echo $this->tag->linkTo("tips/upstatips/2/".$val->tid, "<span class='badge bg-green' style='cursor:pointer;'>Active</span>") ;
                                              }
                                              else
                                              {
                                                  echo $this->tag->linkTo("tips/upstatips/1/".$val->tid, "<span class='badge bg-red' style='cursor:pointer;'>Inactive</span>") ;  
                                              }
                                          ?>
                                          </td>
                                          <td>
                                            <?php echo $this->tag->linkTo("tips/updtips/".$val->tid, "<i class='fa fa-pencil' title='Update Course'></i>") ?>
                                          <i class="fa fa-times" title='Delete Admin Users' data-toggle="modal" data-target="#delete<?php echo $val->tid?>" style="cursor:pointer;"></i>
                                          </td>
                                              <!-- Modal Start Here -->
                                              <div id="delete<?php echo $val->tid?>" class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                                <div class="modal-dialog">
                                                  <div class="modal-content">

                                                    <div class="modal-header">
                                                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                                      <h4 class="modal-title" id="myModalLabel"><?php echo ucwords($val->title); ?></h4>
                                                    </div>
                                                    <div class="modal-body">
                                                      <div class="">
                                                          Do you want to delete  <?php echo $val->title; ?>
                                                      </div>
                                                      
                                                    </div>
                                                    <div class="modal-footer">
                                                      <?php echo Phalcon\Tag::linkTo(array("tips/deletetips/".$val->tid, 'Delete', 'class' => 'btn btn-danger'));?>
                                                      <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                                                    </div>

                                                  </div><!-- /.modal-content -->
                                                </div><!-- /.modal-dialog -->
                                              </div>
                                      </tr>
                                     <?php $x++; } ?>                                       
                                  </tbody>
                              </table>
                          </div>
                          <!--panel-body-->
                          <!--main contain end here-->
              </section>





        </section><!--content -body-->
    </div><!--inner-wrapper-->
</section><!--body-->
<?php echo UIElementsAdmin::getFooter("tables"); ?><!-- footer-->