<?php
$cours=array('id'=>$course->id,'name'=>$course->name,'subject'=>array());
$sub = json_decode($course->subject);$j=0;
$subj = MasterSubject::find(array("status=1"));
$sup_cat = $user_session['sup_cat'];
$exam_id = MasterExamType::findFirst(array("exam_type='2' AND sup_cat='".$sup_cat."'"));
foreach ($subj as $val){
    foreach($sub as $subval){
        if($val->id==$subval){
            $cours['subject'][$j]= array('tid'=>$exam_id->etid,'id'=>$val->id,'slug'=>$val->slug,'name'=>$val->subjectname);
            $j++;
        }
    }
}
echo $this->getContent();
?>
<?php
  $getVal=$this->request->get();
  $url = preg_replace('/^\//', '', $getVal['_url']);
?>
<?php echo UIElementsUsers::getHeader("adminusers"); ?>
<script>
    function addpackage(){
        var url = '<?=$url?>';
        // alert(url);
        // var sup_cat = $("#sup_cat").val();
        // ajax call start here
        // $.ajax({
        //     type: 'POST',
        //     url: '<?=BASEURL?>exams/getcourse',
        //     data: 'sup_cat='+supcat,
        //     success: function(data){
        //     if(data){
        //       $("#course").html(data);
        //         console.log(data);
        //     }
        //   }
        // });
  }
</script>
<section class="body">
    <?=UIElementsUsers::getHeadnav($user_session)?>
    <div class="inner-wrapper">
        <?=UIElementsUsers::getfrontSidebar($cours,$this->session->get("fixpack"),$this->session->get("fullsylabus"))?>
        <section role="main" class="content-body front-content after-breadcm">
            <?=UIElementsUsers::getBreadcrumds($subject->slug,'',$this->session->get("course_name"))?>
            
            <div class="row after-breadcrumds">
                <div class="col-md-12">
                    <h2><?=ucfirst(preg_replace("(-)", " ", $subsubject->slug))?></h2>
                </div>
            </div>
<?php $this->flashSession->output() ?>
            <div class="row">                       
                <div class="col-md-12 col-lg-12 col-xl-6">
                    <div class="row">
                        <div class="col-md-12 col-lg-8 col-xl-6">
                            <?php $or=0;
                                foreach ($topics as $value) {
                                    $topcs[]=$value->tid;
                                }
                                if(!empty($tests)){
                                    foreach($tests as $unit){ 
                                        $sort = json_decode($unit->sort);
                                        if(count(array_intersect($sort, $topcs))){
                                            $or = 1;
                                        ?>
                                        <?php if($package=='open'): ?>
                                        <a href="<?=BASEURL?>tests/uwtdesc/<?=$unit->id?>" target="_blank">
                                        <?php endif; ?>
                                        <div class="panel panel-default">
                                            <div class="panel-body bg-primary" data-toggle="tooltip" title="Click Unlock to Unlock">
                                                <i class="fa fa-chevron-circle-right fa-3x pull-left"></i>
                                                <div class="pull-left">
                                                    <h4><?=$unit->unit?></h4>
                                                </div>
                                                <?php if($package=='close'): ?>
                                                <i class="fa fa-lock fa-3x pull-right" data-toggle="modal" data-target="#package"></i>
                                                <?php endif;?>
                                            </div>
                                        </div>
                                        <?php if($package=='open'): ?>
                                        </a>
                                        <?php endif; ?>
                                <?php 
                                        }
                                    }
                                }
                            ?>
                            <div id="package" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none; ">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                      <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                                        <h4 class="modal-title" id="myModalLabel">Select Package</h4>
                                      </div>
                                      <div class="modal-body">
                                        <div class="">
                                            <div class="row">
                                                <div class="col-md-12">
                                                    <form action="<?=BASEURL?>package/selectpackage" id="packages" method="post">
                                                    <?php
                                                        $packages = MasterPackages::find("test_type='3' AND sup_cat LIKE '%".$user_session['sup_cat']."%' ");
                                                        if(count($packages)!=0){
                                                            foreach($packages as $pak){
                                                                echo '<input type="radio" name="packageid" value="'.$pak->id.'">';
                                                                echo $pak->name.' | '.$pak->desc."<div class='clearfix'></div>";
                                                            }
                                                        }else{
                                                            echo 'No packages are defined.';
                                                        }
                                                    ?>
                                                    <input type="hidden" value="<?=$url?>" name="url">
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                      </div>
                                      <div class="modal-footer">
                                        <button type="button" class="btn btn-success" onclick="submitform()">Add Package</button>
                                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                      </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div>
                            <?php if($or!=0): ?>
                            <hr>
                            <h4 class="text-center"><span class="label label-primary img-circle">Or</span></h4>
                            <hr>
                            <?php endif;?>
                            <h3 class="mt-lg">Topic wise test</h3>
                            <p></p>
                            <?php
                            if(isset($topics)){ $i=1;
                                $overtotalq = 0;$overtotala = 0;$overtotalper = 0;$overtotaltime = 0;
                                foreach ($topics as $topicsres) {
                                $assresult = MasterAssessment::find("topics='".$topicsres->tid."' ");
                                $totalq = 0;$totala = 0;$totaltime = 0;
                                foreach($assresult as $val){
                                    $id = $val->id;
                                    $tr = MasterResult::findFirst("assess_id='".$id."' AND userid='".$user_session['id']."'");
                                    if(!empty($tr)){
                                        $totalq = $totalq + $tr->noq;
                                        $totala = $totala + $tr->nora;
                                        $exm_arr=explode(":",$tr->time_taken);
                                        $totaltime = $totaltime + $tr->total_time;
                                    }
                                }
                                $overtotalq = $overtotalq+$totalq; $overtotala = $overtotala+$totala;
                                $overtotaltime = $overtotaltime+$totaltime;
                            ?>
                            <section class="panel panel-featured-left panel-featured-primary">
                                <a href="<?=BASEURL?>question/<?=$subject->slug?>/<?=$subsubject->slug?>/<?=$topicsres->slug?>">
                                <div class="panel-body">
                                    <div class="widget-summary widget-summary-xs">
                                        <div class="widget-summary-col widget-summary-col-icon">
                                            <div class="summary-icon bg-primary">
                                                <?=$i++?>
                                            </div>
                                        </div>
                                        <div class="widget-summary-col">
                                            <div class="summary">
                                                <h4><?=$topicsres->tname?></h4>
                                                <!-- <div class="row">                                                       
                                                    <div class="progress progress-sm progress-squared m-md light">
                                                        <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
                                                            60%
                                                        </div>
                                                    </div>                                                          
                                                </div> -->
                                                <hr>
                                                <div class="row">
                                                    <div class="col-md-2">
                                                        <img src="<?=BASEURL?>assets/images/is_qs.png" class="topic-img"/>
                                                        <label class="status-label">
                                                            <?php
                                                                if(!empty($totalq)){
                                                                    echo $totala."/".$totalq;
                                                                }else{
                                                                    echo "0/0";
                                                                }
                                                            ?>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="<?=BASEURL?>assets/images/is_ac.png" class="topic-img"/>
                                                        <label class="status-label"><?php 
                                                            if(!empty($totalq)){
                                                                echo round($totala/$totalq*100);
                                                                $overtotalper = $overtotalper+round($totala/$totalq*100);
                                                            }else{
                                                                echo 0;
                                                            }
                                                        ?>%</label>
                                                    </div>
                                                    <div class="col-md-2">
                                                        <img src="<?=BASEURL?>assets/images/is_tm.png" class="topic-img"/>
                                                        <label class="status-label">
                                                            <?php
                                                                if(!empty($totaltime)){
                                                                    echo $totaltime."m";
                                                                }else{
                                                                    echo "0m";
                                                                }
                                                            ?>
                                                        </label>
                                                    </div>
                                                    <div class="col-md-4">
                                                        
                                                    </div>
                                                </div>                                                      
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                                </a>
                            </section>
                            <?php
                                    }
                                }
                             ?>
                        </div>
                        <div class="col-md-12 col-lg-4 col-xl-6">
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">                                        
                                        <span class="va-middle">Your Stats</span>
                                    </h2>
                                </header>
                                <div class="panel-body">
                                    <div class="content">
                                        <div class="row">
                                            <div class="col-md-6">                                                      
                                                <img src="<?=BASEURL?>assets/images/is_cm.png"/>
                                                <label class="status-label">0</label><br>
                                                <label for=""><small><b>Completed</b></small></label>
                                            </div>
                                            <div class="col-md-6">                                                      
                                                <img src="<?=BASEURL?>assets/images/is_qs.png"/>
                                                <label class="status-label"><?=$overtotala.'/'.$overtotalq?></label><br>
                                                <label for=""><small><b>Attempted</b></small></label>
                                            </div>
                                            <div class="col-md-6">                                                      
                                                <img src="<?=BASEURL?>assets/images/is_ac.png"/>
                                                <label class="status-label"><?=$overtotalper/$topics->count()?>%</label><br>
                                                <label for=""><small><b>Accuracy</b></small></label>
                                            </div>
                                            <div class="col-md-6">                                                      
                                                <img src="<?=BASEURL?>assets/images/is_tm.png"/>
                                                <label class="status-label"><?=$overtotaltime?>m</label><br>
                                                <label for=""><small><b>Time Practiced</b></small></label>
                                            </div>
                                        </div>
                                        <hr class="dotted short">                                       
                                    </div>
                                </div>                              
                            </section>
                            <section class="panel">
                                <header class="panel-heading">
                                    <h2 class="panel-title">Toppers to Follow</h2>
                                </header>
                                <div class="panel-body">
                                    <ul class="simple-post-list">
                                        <?php foreach($follow as $fval): ?>
                                            <li>
                                                <div class="post-image">
                                                    <div class="img-thumbnail">
                                                        <a href="#">
                                                            <?php if($fval['img']!=''): ?>
                                                            <img src="<?= BASEURL ?>propic/<?=$fval['img']?>" alt="<?=$fval['name']?>" width="60" height="60">
                                                            <?php else: ?>
                                                                <img src="<?= BASEURL ?>assets/images/post-thumb-1.jpg" alt="<?=$fval['name']?>" width="60" height="60">
                                                            <?php endif; ?>
                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="post-info">
                                                    <button class="btn btn-xs btn-info pull-right"><i class="fa fa-hand-o-left"></i><?php if(in_array($fval['userid'],$following)){?>Following<?php }else if(in_array($fval['userid'],$follower)){ ?> Follower <?php }else{ ?><span onclick="followfriend(<?=$fval['userid']?>);" id="fld<?= $fval['userid'] ?>">Follow</span><?php } ?></button>
                                                    <a href="#"><b><?=$fval['name']?></b></a>
                                                    <div class="post-meta">
                                                        <i class="fa fa-crosshairs"></i><?=$fval['per']?>%
                                                    </div>                                                      
                                                </div>
                                            </li>
                                        <?php endforeach; ?>
                                    </ul>
                                </div>
                            </section>
                        </div>
                    </div>
                </div>
            </div>

        </section>
    </div>
</section>
<?php echo UIElementsUsers::getFooter("adminusers"); ?>
<script>
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip(); 
});
function submitform(){
  document.getElementById("packages").submit();
}
</script>